/*
Color Palette Hex Codes:
  Blue: #0D1126
  Gold: #ECA400
  Green: #49A355
  Red: #721817
  Platinum: #E0E0E0
*/

/* Font Declarations */
@font-face{
  font-family: 'opensans';
  src:  url('https://nullphish.com/css/fonts/OpenSans-Regular-webfont.woff') format('woff');
}
@font-face{
  font-family: 'opensans';
  src:  url('https://nullphish.com/css/fonts/OpenSans-Bold-webfont.woff') format('woff');
  font-weight: bold;
}

@font-face{
  font-family: 'clearsans';
  src:  url('https://nullphish.com/css/fonts/ClearSans-Regular-webfont.woff') format('woff');
}
@font-face{
  font-family: 'clearsans';
  src:  url('https://nullphish.com/css/fonts/ClearSans-Bold-webfont.woff') format('woff');
  font-weight: bold;
}
@font-face{
  font-family: 'clearsans';
  src:  url('https://nullphish.com/css/fonts/ClearSans-Light-webfont.woff') format('woff');
  font-weight: lighter;
}

@font-face{
  font-family: 'colab';
  src:  url('https://nullphish.com/css/fonts/ColabReg-webfont.woff') format('woff');
}
@font-face{
  font-family: 'colab';
  src:  url('https://nullphish.com/css/fonts/ColabBol-webfont.woff') format('woff');
  font-weight: bold;
}

@font-face{
  font-family: 'junction';
  src:  url('https://nullphish.com/css/fonts/Junction-regular-webfont.woff') format('woff');
}
@font-face{
  font-family: 'junction';
  src:  url('https://nullphish.com/css/fonts/Junction-bold-webfont.woff') format('woff');
  font-weight: bold;
}
@font-face{
  font-family: 'junction';
  src:  url('https://nullphish.com/css/fonts/Junction-light-webfont.woff') format('woff');
  font-weight: lighter;
}

@font-face{
  font-family: 'tuffy';
  src:  url('https://nullphish.com/css/fonts/Tuffy-webfont.woff') format('woff');
}
@font-face{
  font-family: 'tuffy';
  src:  url('https://nullphish.com/css/fonts/Tuffy_Bold-webfont.woff') format('woff');
  font-weight: bold;
}

/* Global Styles: */
body{
  margin: 0;
  overflow-x: hidden;
  background-color: #0D1126;
  background-repeat: repeat;
  background-size: cover;
  font-family: opensans;
  color: #ECA400;
  text-align: center;
  text-decoration: none;
}

h1{
  font-size: xx-large;
  font-weight: bold;
}

nav{
  margin: 0;
  z-index: 999;
  height: 60px;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  color: #E0E0E0;
  font-family: tuffy;
  font-size: x-large;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}
nav table{
  margin: 0px;
  padding: 0px;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  line-height: 60px;
  width: 50%;
  text-align: center;
  table-layout: auto;
  min-width: 800px;
  max-width: 2160px;
  text-decoration: none;
}
nav tr{
  line-height: 60px;
  margin: 0px;
  padding: 0px;
  height: 60px;
  width: 100%;
  top: 0px;
}
nav td{
  width: 300px;
  padding: 5px;
  height: 50px;
  vertical-align: middle;
  top: 0px;
  text-align: center;
}
nav a{
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  line-height: 50px;
  border-radius: 15px;
  display: block;
  min-width: 150px;
}
nav a:hover{
  color: #E0E0E0;
  text-decoration: none;
}
nav .active{
  border-top: 1px solid #49A355;
  border-bottom: 1px solid #49A355;
  border-radius: 15px;
  text-decoration: none;
}
nav .passive:hover{
  border-top: 1px solid #49A355;
  border-bottom: 1px solid #49A355;
  border-radius: 15px;
  text-decoration: none;
}

/* IDs */

#navbg{
  z-index: 998;
  position: fixed;
  width: 100%;
  height: 80px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}

#fineprint{
  bottom: 250px;
  height: 250px;
}

/* Classes: */

.logo-sm{
  height: 50px;
  width: auto;
  line-height: 60px;
  padding: 0px;
  margin: auto;
}

.nullmention{
  border-top: 1px solid #49A355;
  border-bottom: 1px solid #49A355;
  border-radius: 5px;
  color: #E0E0E0;
  text-decoration: none;
  font-weight: bold;
}

.nolinkdeco{
  text-decoration: none;
}