/*
Color Palette Hex Codes:
  Blue: #0D1126
  Gold: #ECA400
  Green: #49A355
  Red: #721817
  Platinum: #E0E0E0
*/

/* Font Declarations */
@font-face{
  font-family: 'opensans';
  src:  url('/static/css/fonts/OpenSans-Regular-webfont.woff') format('woff');
}
@font-face{
  font-family: 'opensans';
  src:  url('/static/css/fonts/OpenSans-Bold-webfont.woff') format('woff');
  font-weight: bold;
}

@font-face{
  font-family: 'clearsans';
  src:  url('/static/css/fonts/ClearSans-Regular-webfont.woff') format('woff');
}
@font-face{
  font-family: 'clearsans';
  src:  url('/static/css/fonts/ClearSans-Bold-webfont.woff') format('woff');
  font-weight: bold;
}
@font-face{
  font-family: 'clearsans';
  src:  url('/static/css/fonts/ClearSans-Light-webfont.woff') format('woff');
  font-weight: lighter;
}

@font-face{
  font-family: 'colab';
  src:  url('/static/css/fonts/ColabReg-webfont.woff') format('woff');
}
@font-face{
  font-family: 'colab';
  src:  url('/static/css/fonts/ColabBol-webfont.woff') format('woff');
  font-weight: bold;
}

@font-face{
  font-family: 'junction';
  src:  url('/static/css/fonts/Junction-regular-webfont.woff') format('woff');
}
@font-face{
  font-family: 'junction';
  src:  url('/static/css/fonts/Junction-bold-webfont.woff') format('woff');
  font-weight: bold;
}
@font-face{
  font-family: 'junction';
  src:  url('/static/css/fonts/Junction-light-webfont.woff') format('woff');
  font-weight: lighter;
}

@font-face{
  font-family: 'tuffy';
  src:  url('/static/css/fonts/Tuffy-webfont.woff') format('woff');
}
@font-face{
  font-family: 'tuffy';
  src:  url('/static/css/fonts/Tuffy_Bold-webfont.woff') format('woff');
  font-weight: bold;
}

/* Global Styles: */
a{
  outline: none;
  color: inherit;
}

body{
  margin: 0;
  overflow-x: hidden;
  background-color: #0D1126;
  background-repeat: repeat;
  background-size: cover;
  font-family: opensans;
  color: #ECA400;
  text-align: center;
  text-decoration: none;
}

button{
  background-color: #49A355;
  border: 2px solid #49A355;
  color: #0D1126;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
  width: 33%;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  border-color: #E0E0E0;
}
button:active{
  background-color: #E0E0E0;
  border-color: #E0E0E0;
}

h1{
  font-size: xx-large;
  font-weight: bold;
}

input[type=text]{
  background-color: #E0E0E0;
  border: 1px solid #E0E0E0;
  color: #0D1126;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  font-family: opensans;
}
input[type=text]:active{
  border-color: #ECA400;
}
input[type=password]{
  background-color: #E0E0E0;
  border: 1px solid #E0E0E0;
  color: #0D1126;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  font-family: opensans;
}
input[type=password]:active{
  border-color: #ECA400;
}
input[type=submit]{
  background-color: #49A355;
  border: 2px solid #49A355;
  color: #0D1126;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
  width: 33%;
  border-radius: 5px;
  cursor: pointer;
}
input[type=submit]:hover{
  border-color: #E0E0E0;
}

nav{
  margin: 0;
  z-index: 999;
  height: 90px;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  color: #E0E0E0;
  font-family: tuffy;
  font-size: x-large;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0,0,0,0.25);
  vertical-align: top;
}
nav table{
  margin: 0px;
  padding: 0px;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  line-height: 60px;
  width: 50%;
  text-align: center;
  table-layout: auto;
  min-width: 800px;
  max-width: 2160px;
  text-decoration: none;
}
nav tr{
  line-height: 60px;
  margin: 0px;
  padding: 0px;
  height: 60px;
  width: 100%;
  top: 0px;
}
nav td{
  width: 300px;
  padding: 5px;
  height: 50px;
  vertical-align: top;
  top: 0px;
  text-align: center;
}
nav a{
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  line-height: 50px;
  border-radius: 15px;
  display: block;
  min-width: 150px;
}
nav a:hover{
  color: #ECA400;
}
nav a:focus{
  outline: none;
  text-decoration: underline;
  text-decoration-color: #E0E0E0;
}
nav .vertline{
  border-left: 1px solid #E0E0E0;
  height: 50px;
  margin-top: 2px;
  opacity: 0.2;
}

select{
  background-color: #E0E0E0;
  border: 2px solid #E0E0E0;
  color: #0D1126;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  font-family: opensans;
}
select:focus{
  border-color: #ECA400;
}

/* IDs */
#fineprint{
  bottom: 250px;
  height: 250px;
  width: 100%;
  padding: 20px;
}

/* Classes: */
.contentcontainer{
  z-index: 999;
  position: absolute;
  top: 120px;
  bottom: 90px;
  left: 180px;
  right: 180px;
  width: auto;
  height: auto;
  margin: 0px;
  padding-top: 30px;
  overflow: hidden;
  border-radius: 25px;
  border: 2px solid #E0E0E0;
  color: #E0E0E0;
  min-width: 500px;
  max-width: 2500px;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  justify-content: center;
  text-align: center;
}
.contentcontainer h1{
  font-size: calc(24px + 0.5vw);
  max-height: 40px;
  vertical-align: middle;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.contentcontainer.scrollable{
  overflow-y: scroll;
  overflow-x: hidden;
}

.fader{
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity;
}

.logo-sm{
  height: 50px;
  width: auto;
  line-height: 60px;
  padding: 0px;
  margin: auto;
}

.nullmention{
  border-top: 1px solid #49A355;
  border-bottom: 1px solid #49A355;
  border-radius: 5px;
  color: #E0E0E0;
  text-decoration: none;
  font-weight: bold;
}

.nolinkdeco{
  text-decoration: none;
}