/*
Color Palette Hex Codes:
  Blue: #0D1126
  Gold: #ECA400
  Green: #49A355
  Red: #721817
  Platinum: #E0E0E0
*/

/* Font Declarations */
@font-face{
  font-family: 'opensans';
  src:  url('/static/css/fonts/OpenSans-Regular-webfont.woff') format('woff');
}
@font-face{
  font-family: 'opensans';
  src:  url('/static/css/fonts/OpenSans-Bold-webfont.woff') format('woff');
  font-weight: bold;
}

@font-face{
  font-family: 'clearsans';
  src:  url('/static/css/fonts/ClearSans-Regular-webfont.woff') format('woff');
}
@font-face{
  font-family: 'clearsans';
  src:  url('/static/css/fonts/ClearSans-Bold-webfont.woff') format('woff');
  font-weight: bold;
}
@font-face{
  font-family: 'clearsans';
  src:  url('/static/css/fonts/ClearSans-Light-webfont.woff') format('woff');
  font-weight: lighter;
}

@font-face{
  font-family: 'colab';
  src:  url('/static/css/fonts/ColabReg-webfont.woff') format('woff');
}
@font-face{
  font-family: 'colab';
  src:  url('/static/css/fonts/ColabBol-webfont.woff') format('woff');
  font-weight: bold;
}

@font-face{
  font-family: 'junction';
  src:  url('/static/css/fonts/Junction-regular-webfont.woff') format('woff');
}
@font-face{
  font-family: 'junction';
  src:  url('/static/css/fonts/Junction-bold-webfont.woff') format('woff');
  font-weight: bold;
}
@font-face{
  font-family: 'junction';
  src:  url('/static/css/fonts/Junction-light-webfont.woff') format('woff');
  font-weight: lighter;
}

@font-face{
  font-family: 'tuffy';
  src:  url('/static/css/fonts/Tuffy-webfont.woff') format('woff');
}
@font-face{
  font-family: 'tuffy';
  src:  url('/static/css/fonts/Tuffy_Bold-webfont.woff') format('woff');
  font-weight: bold;
}

/* Global Styles: */
body{
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #0D1126;
  background-repeat: repeat;
  background-size: cover;
  font-family: opensans;
  color: #ECA400;
  text-align: center;
  text-decoration: none;
  min-height: 100%;
  height: auto;
}

button{
  background-color: #49A355;
  border: 2px solid #49A355;
  color: #0D1126;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  width: auto;
  height: auto;
}
button:hover{
  border-color: #E0E0E0;
}
button:active{
  background-color: #E0E0E0;
  border-color: #E0E0E0;
}

h1{
  font-size: xx-large;
  font-weight: bold;
}

hr{
  border-top: 1px solid #E0E0E0;
}

input[type=text]{
  background-color: #E0E0E0;
  border: 2px solid #E0E0E0;
  color: #0D1126;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
  width: auto;
  margin: auto;
  border-radius: 5px;
  font-family: opensans;
  margin: 10px;
}
input[type=text]:focus{
  border-color: #49A355;
}
input[type=password]{
  background-color: #E0E0E0;
  border: 2px solid #E0E0E0;
  color: #0D1126;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
  width: auto;
  margin: auto;
  border-radius: 5px;
  font-family: opensans;
  margin: 10px;
}
input[type=password]:focus{
  border-color: #49A355;
}
input[type=submit]{
  background-color: #49A355;
  border: 2px solid #49A355;
  color: #0D1126;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
  width: auto;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
input[type=submit]:hover{
  border-color: #E0E0E0;
}
input[type=submit]:active{
  background-color: #E0E0E0;
  border-color: #E0E0E0;
}

select{
  background-color: #E0E0E0;
  border: 2px solid #E0E0E0;
  color: #0D1126;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  font-family: opensans;
}
select:focus{
  border-color: #ECA400;
}

/* IDs */
#confirmoverlay{
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  z-index: 999;
  background-color: rgba(0,0,0,0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  vertical-align: middle;
  font-size: calc(24px + 0.5vw);
  color: #E0E0E0;
  margin: 0px;
  padding: 0px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#confirmoverlay a{
  background-color: #721817;
  border: 2px solid #721817;
  color: #E0E0E0;
  font-weight: bold;
  width: auto;
  height: auto;
  margin: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
  border-radius: 5px;
  cursor: pointer;
}
#confirmoverlay a:hover{
  border-color: #E0E0E0;
}

#navigation{
  margin: 0;
  z-index: 998;
  height: auto;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  color: #E0E0E0;
  font-family: tuffy;
  font-size: x-large;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  background-color: rgba(0,0,0,0.33);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  vertical-align: top;
  border-bottom: 2px solid #E0E0E0;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}
#navigation a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  margin: 0px;
  vertical-align: middle;
  text-align: center;
  padding: 8px 10px 8px 10px;
  flex-basis: 0;
  flex-grow: 1;
}
#navigation a:hover{
  background-color: rgba(0,0,0,0.33);
  color: #ECA400;
}
#navigation a.active{
  color: #ECA400;
}

/* Classes: */
.contentcontainer{
  z-index: 5;
  position: absolute;
  top: 120px;
  left: 90px;
  right: 90px;
  width: auto;
  height: auto;
  margin-bottom: 90px;
  border-radius: 5px;
  border: 2px solid #E0E0E0;
  color: #E0E0E0;
  min-width: 900px;
  min-height: calc(100vh - 210px);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex: calc(100% / 3);
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}
.contentcontainer a{
  color: #E0E0E0;
}
.contentcontainer a:hover{
  color: #ECA400
}
.contentcontainer #header{
  width: 100%;
  flex-basis: 100%;
}
.contentcontainer h1{
  font-size: calc(24px + 0.5vw);
  max-height: 40px;
}
.contentcontainer h2{
  font-size: calc(14px + 0.75vw);
  max-height: 80px;
}

.logo-sm{
  height: 50px;
  width: auto;
  line-height: 60px;
  padding: 0px;
  margin: auto;
}

.stats{
  border: 1px solid #49A355;
  color: black;
  text-align: center;
  font-size: 1em;
}
.stats td{
  width: fit-content;
}
.stats th{
  background-color: #49A355;
  color: black;
}
.stats tr:nth-child(odd){ 
  background-color: #E0E0E0;
  color: black;
}
.stats tr:nth-child(even)	{ 
  background-color: #9D9D9D; 
  color: black;
}
.stats tr:first-child{ 
  background-color: transparent;
}
.stats tr:hover{ 
  background-color: #ECA400;
  color: black;
}
.stats tr:hover:first-child{ 
  background-color: transparent; 
}

.tile{
  background-color: #E0E0E0;
  color: #0D1126;
  border: 1px solid #E0E0E0;
  border-radius: 15px;
  background-image: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: calc(200px + 3vh);
  height: calc(200px + 3vh);
  margin: 10px 5vw 10px 5vw;
}
.tile.todo{
  background-color: #721817;
}
.tile.inprogress{
  background-color: #ECA400;
}
.tile.done{
  background-color: #49A355;
}
.tile:hover span {
  visibility: visible;
} 
.tile span{
  visibility: hidden;
  background-color: #0D1126;
  color: #E0E0E0;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  font-family: opensans;
  position: relative;
  vertical-align: middle;
  z-index: 1;
  text-align: center;
  top: 50%;
}