/*
Color Palette Hex Codes:
  Deep Sea: #010418
  Burnt Orange: #BF6800
  Uneasy Green: #008053
  Not-Quite-Black: #222
  Not-Quite-White: #EEE
  Light Gray: #AAA
  Dark Gray: #666
*/

/* Font Declarations */
@font-face{
    font-family: 'existence';
    src:  url('fonts/Existence-Light-webfont.woff') format('woff');
}

@font-face{
    font-family: 'opensans';
    src:  url('fonts/OpenSans-Regular-webfont.woff') format('woff');
}
@font-face{
    font-family: 'opensans';
    src:  url('fonts/OpenSans-Bold-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face{
  font-family: 'lanenar';
  src:  url('fonts/lanenar.woff') format('woff');
}

body{
    font:300 20px 'Open Sans', sans-serif;
    color:#008053;
    background-color:#010418;
    width:100%; 
    overflow: hidden;
    font-family: opensans;
}

article{
    width:50%;
    padding:5px 30px;
    border-radius:15px;
    font-weight: bold;
    font-size: xx-large;
    color: #010418;
    font-family: existence;
}

hr {
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    width: 75%;
}

strong {
    font-weight: bold;
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    top: 0px;
    padding: 10px;
    background-color: #AAA;
    color: #222;
    border-radius: 25px;
    position: absolute;
    left: 10%;
}

.content{
    padding: 25px;
}

.sect{
    width: auto;
    background-color: #FFF;
    color: #000;
    margin: 10px;
    border-radius: 25px;
    padding: 0px;
}

.instructions{
    font-weight: bold;
}

.submitbtn{
    width: 50%;
    height: 60px;
    background-color: #EEE;
    color: #222;
    border-radius: 15px;
    border-width: 0px;
    margin: auto;
    font-weight: bold;
    font-size: large;
}

.submitbtn:hover{
    background-color: #FFF;
}

.submitbtn:active{
    background-color: #FFF;
    color: #EEE;
}