/*
Color Palette Hex Codes:
  Blue: #0D1126
  Gold: #ECA400
  Green: #49A355
  Red: #721817
  Platinum: #E0E0E0
*/

/* Font Declarations */
@font-face{
    font-family: 'opensans';
    src:  url('fonts/OpenSans-Regular-webfont.woff') format('woff');
  }
@font-face{
    font-family: 'opensans';
    src:  url('fonts/OpenSans-Bold-webfont.woff') format('woff');
    font-weight: bold;
}

/* Styles */
#tilecontainer{
  z-index: 999;
  position: absolute;
  top: 120px;
  bottom: 90px;
  left: 180px;
  right: 180px;
  width: auto;
  height: auto;
  margin: 0px;
  padding: 5px;
  overflow: hidden;
  border-radius: 25px;
  border: 2px solid #E0E0E0;
  color: #E0E0E0;
  min-width: 1080px;
  max-width: 2500px;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: minmax(250px,600px) minmax(250px,600px) minmax(250px,600px);
  grid-template-rows: minmax(100px,300px) minmax(300px,600px) minmax(300px,600px);
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  justify-content: center;
  align-content: center;
}
#tilecontainer h1{
  font-size: calc(24px + 0.5vw);
  max-height: 100px;
  vertical-align: middle;
  grid-column-start: 1;
  grid-column-end: 4;
}
#tilecontainer a{ /* This is what a regular tile will look like */
  border-radius: 15px;
  border: 5px solid #49A355;
  background-color: #49A355;
  background-image: none;
  height: calc(180px + 5vh);
  width: calc(180px + 5vh);
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0px 0px 25px 5px #49A355;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
#tilecontainer a:hover{
  border-color: #E0E0E0;
  box-shadow: 0px 0px 10px 5px #E0E0E0;
}
#tilecontainer a:active{
  border-color: #E0E0E0;
  box-shadow: 0px 0px 10px 5px #E0E0E0;
  background-color: #E0E0E0;
}
#tilecontainer a .todo{ /* Tiles marked 'to-do' show a red border and shadow */
  border: 5px solid #721817;
}
#tilecontainer a .todo:hover{
  border-color: #721817;
  box-shadow: 0px 0px 10px 5px #721817;
}
#tilecontainer a .todo:active{
  border-color: #721817;
  box-shadow: 0px 0px 10px 5px #721817;
  background-color: #721817;
}
#tilecontainer a .inprogress{ /* Tiles marked 'in-progress' show a platinum border and shadow */
  border: 5px solid #E0E0E0;
}
#tilecontainer a .inprogress:hover{
  border-color: #E0E0E0;
  box-shadow: 0px 0px 10px 5px #E0E0E0;
}
#tilecontainer a .inprogress:active{
  border-color: #E0E0E0;
  box-shadow: 0px 0px 10px 5px #E0E0E0;
  background-color: #E0E0E0;
}
#tilecontainer a .done{ /* Tiles marked 'done' show a gold border and shadow */
  border: 5px solid #ECA400;
}
#tilecontainer a .done:hover{
  border-color: #ECA400;
  box-shadow: 0px 0px 10px 5px #ECA400;
}
#tilecontainer a .done:active{
  border-color: #ECA400;
  box-shadow: 0px 0px 10px 5px #ECA400;
  background-color: #ECA400;
}
#tilecontainer a span { /* Styling for the text/tooltip that shows on hover */
  visibility: hidden;
  width: 120px;
  background-color: #E0E0E0;
  color: #0D1126;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  font-family: opensans;
  position: relative;
  top: 50%;
  z-index: 1;
}
#tilecontainer a:hover .tooltiptext {
  visibility: visible;
} 

#tilelist{
  z-index: 999;
  position: absolute;
  top: 120px;
  bottom: 60px;
  left: 30px;
  right: 30px;
  width: auto;
  height: auto;
  margin: 0px;
  padding: 5px;
  overflow: hidden;
  border-radius: 25px;
  border: 2px solid #E0E0E0;
  color: #E0E0E0;
  min-width: 200px;
  max-width: 1080px;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /*display: none;*/
}
#tilelist h1{
  font-size: calc(24px + 0.5vw);
  max-height: 100px;
  vertical-align: middle;
  grid-column-start: 1;
  grid-column-end: 4;
}
#tilelist table{
  border: none;
  width: 90%;
  height: 90%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}
#tilelist th{
 font-weight: bold; 
}
#tilelist td{
  background-color: none;
  color: #E0E0E0;
}
#tilelist td .todo{
  background-color: #721817;
  color: #0D1126;
}
#tilelist td .inprogress{
  background-color: #ECA400;
  color: #0D1126;
}
#tilelist td .done{
  background-color: #49A355;
  color: #0D1126;
}
#tilelist a{
  text-decoration: underline;
  text-decoration-color: #E0E0E0;
  color: #E0E0E0;
}
#tilelist a:hover{
  text-decoration: underline;
  text-decoration-color: #ECA400;
  color: #ECA400;
}