/*
Color Palette Hex Codes:
  Deep Sea: #010418
  Burnt Orange: #BF6800
  Uneasy Green: #008053
*/

body{
    font:300 20px 'Open Sans', sans-serif;
    color:#666;
    background-color:#bdc3c7;
    width:100%; 
}

article{
    width:50%;
    background-color:white;
    margin:50px auto;
    padding:5px 30px;
    border-radius:15px;
}

article h1{
    color:#3498db; 
    padding-bottom:15px;
    border-bottom:1px dashed #bdc3c7;
}

article a,article span{
    color:#3498db;
    text-decoration:none;
}

article .buton{
    color:white;
    position:relative;
    font-size:14px;
    left:10px;
    top:-5px;
    background-color:#3498db;
    text-decoration:none;
    padding:3px 6px;
}

article .buton:hover{
    background-color:#2980b9;
}

div.ex2 {
    max-width:500px;
    margin: auto;
}

h1 { 
    text-align:center; 
    color:green; 
} 

.container .box { 
    width:100%; 
    margin:05px; 
    display:table; 
    border-spacing: 100px;
    
} 

.container .box .box-row { 
    display:table-row; 
    width:100%;
} 

.container .box .box-cell { 
    display:table-cell; 
    width:100%; 
    padding:10px; 
    border-radius: 15px;
} 

.container .box .box-cell.box1 { 
    background:white; 
    color:black; 
    text-align:justify; 
    width: calc(100% / 2);
} 

.container .box .box-cell.box2 { 
    background:white; 
    text-align:justify;
    width: calc(100% / 2);
} 

#bottom { 
    position:relative;                  
    bottom:0;                                                  
} 