/*
CSS Color Palette:
Grey (Light):       #CCCCFF
Grey (Dark):        #222266
Blue (Regular):     #2464a6
Blue (Dark):        #0e2841
Blue (Light):       #4d9cec
Gold:               #ffc800
*/

/*Fonts:*/
@font-face {
    font-family: BonveniCF;
    src: url(fonts/BonvenoCF-Light-webfont.woff);
}

@font-face {
    font-family: Colab;
    src: url(fonts/ColabReg-webfont.woff);
}

@font-face {
    font-family: Colab;
    src: url(fonts/ColabBol-webfont.woff);
    font-weight: bold;
}

/*Global Styles:*/

body{
    background-color: #0e2841;
    color: #fff;
    font-family: "Colab";
    padding: 0px;
    margin: 0px;
}

hr{
    color: #4d9cec
}

/*ID Styles:*/

#topbar{
    height: 60px;
    width: 70%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    top: 0px;
    vertical-align: middle;
}

/*Class Styles:*/

.topbar-ent{
    height: 60px;
    top: 0px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.nav-link{
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    line-height: 60px;
}

.nav-link:hover{
    color: #ffc800;
    text-decoration: none;
}

.slide{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}