/*
CSS Color Palette:
Grey (Light):       #CCC
Grey (Dark):        #333
Blue (Regular):     #2464a6
Blue (Dark):        #0e2841
Blue (Light):       #4d9cec
Gold:               #ffc800
*/

/*Fonts:*/
@font-face {
    font-family: BonveniCF;
    src: url(fonts/BonvenoCF-Light-webfont.woff);
}

@font-face {
    font-family: Colab;
    src: url(fonts/ColabReg-webfont.woff);
}

@font-face {
    font-family: Colab;
    src: url(fonts/ColabBol-webfont.woff);
    font-weight: bold;
}

/*Global Styles:*/

body{
    background-color: #000;
    color: #fff;
    font-family: "Colab";
}

nav{
    height: 90px;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff;
    position: fixed;
    z-index: 998;
    font-family: "Colab";
    font-size: xx-large;
    vertical-align: middle;
    text-align: center;
}

/*ID Styles:*/

#nav-logo{
    margin: 0px; 
    height: 90px;
    width: auto;
    z-index: 999;
}

/*Class Styles:*/

.nav-link{
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link:hover{
    color: #ffc800;
    text-decoration: none;
}

.slide{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}