<!DOCTYPE html>
<html lang="en">
    <title>E-mail Templates</title> 


    <link href="https://nullphish.com/static/summernote/googlematerialicons.css">
    <link href="https://nullphish.com/static/summernote/bootstrap337min.css" rel="stylesheet">
    <script src="https://nullphish.com/static/summernote/jquery341min.js"></script>
    <script src="https://nullphish.com/static/summernote/bootstrap337min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
    <script src="https://nullphish.com/static/summernote/summernote.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 

		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



<!--- 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
--->
<style>
	div.ex2 {
  max-width:500px;
  margin: auto;
  opacity: 1
	}
  .form-control {
    height: auto;
    min-height: 36px;
    opacity: 1
}

.header-site {
  content: "Profile";
  background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)),url(https://gokdb.com/public/header-library.jpg);
  opacity: 1
}
h2.heade {
  text-align: center;
}
.center-div
{
     margin: 0 auto;
     width: 100px; 
}
form {
  text-align: center;
  opacity: 1
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.bgg {font-size:75px}
body {
  background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)),url(https://gokdb.com/public/header-library.jpg);
  opacity: 1
}
    </style>
<body>
<div class="w3-top">
		<div class="w3-bar w3-blue w3-card w3-left-align w3-large">
		  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          <a href="/main" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
          <a href="/profile" class="w3-bar-item w3-button w3-padding-large w3-white">Profile</a>
          <a href="/stats" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Stats</a>
          <a href="/logout" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Log Out</a>
		  <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 4</a> -->
        </div></div>
        
        

                <div class="w3-top heade">
                        <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
                          <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
                          <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
                          <a href="/profile" class="w3-bar-item w3-button w3-padding-large w3-white">Profile</a>
                          <a href="/stats" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Stats</a>
                          <a href="/logout" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Log Out</a>
                          <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 4</a> -->
                        </div>
                      
                        <!-- Navbar on small screens -->
                        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
                          <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
                        </div>
                      </div>
                      
                      <!-- Header -->
                      <header class="w3-container header-site w3-center" style="padding:128px 16px">
                        <h1 style="color: white" class="w3-margin w3-jumbo"><b>Add E-mail Phishing templates</b></h1>
                      
                        <br>

<center>

    <h1>{% with messages = get_flashed_messages(category_filter=["category2"]) %}
        {% if messages %}
          <ul class="flashes w3-jumbo" style="color: white">
          {% for message in messages %}
        {{ message }}
          {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}</h1>

    </center>
    <br>
<div class="container">
  <div class="row">
    <div class="col-md">
<center><h3  style="color: white">

{% if searchtemplates %}
<div class="col-md" style="form">
  <hr>
  <h2 style="color: white" class="w3-xlarge">View Existing Templates:</h2>
  <div class="ex2">
    <div class="form-group">
        <label for="exampleFormControlSelect1"></label>
        <select name= 'searchtemplates' class="form-control" id="exampleFormControlSelect1">
            <option>Templates</option>
                {% for row in searchtemplates %}
                    <option>{{ row }}</option>
                {% endfor %}     
        </select>
        </div>
      </div>
      <hr>
</div>
{% endif %}

  <h2 style="color: white">
    Add New Template:

    <form method="post">
      <textarea id="summernote" name="editordata"></textarea>
      <input name='templatename' type="text" class="form-control" placeholder="Template Name" required></input>
      <button name="submit" type="submit" class="btn btn-primary btn-block">Add Template</button>
    </form>
  <script>
    $(document).ready(function() {
        $('#summernote').summernote();
    });
  </script>
</body>
</html>
<div class="col-md" style="center">
<center>
  <hr>


  </div>
</div>
  </center>
    <br><br>

  </body>
<br>
</h2>
</div>
</article>
</h2>
</center>

