<!DOCTYPE html>
<html lang="en">
  <head>
    <title>E-mail Templates</title> 

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://app.nullphish.com/static/css/master.css">
    <link rel="stylesheet" href="https://app.nullphish.com/static/css/tiles.css">
    <link rel="icon" href="https://app.nullphish.com/static/res/favicon-320.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://nullphish.com/static/summernote/googlematerialicons.css">
    <link href="https://nullphish.com/static/summernote/bootstrap337min.css" rel="stylesheet">
    <script src="https://nullphish.com/static/summernote/jquery341min.js"></script>
    <script src="https://nullphish.com/static/summernote/bootstrap337min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
    <script src="https://nullphish.com/static/summernote/summernote.min.js"></script>
<!--- 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
--->
<style>
	div.ex2 {
  max-width:500px;
  margin: auto;
  opacity: 1
	}
  .form-control {
    height: auto;
    min-height: 36px;
    opacity: 1
}

.header-site {
  content: "Profile";
  opacity: 1
}
h2.heade {
  text-align: center;
}
.center-div
{
     margin: 0 auto;
     width: 100px; 
}
form {
  text-align: center;
  opacity: 1
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.bgg {font-size:75px}
body {
  background-color: #0D1126;
  margin-top: 5%;
}
.header {

}
    </style>
    <body>
                      <nav>
                        <table class="header">
                          <tr style="color: white">
                            <td><a href="https://app.nullphish.com">Modules</a></td>
                            <td><a href="/results">Results</a></td>
                            <td><a href="/gophishing">Phishing</a></td>
                            <td><a href="/stats">Stats</a></td>
                            <td><a href="/profile">Profile</a></td>
                            <td><a href="/logout">Log Out</a></td>
                          </tr>
                        </table>
                      </nav>
                   
<center>

    <h1>{% with messages = get_flashed_messages(category_filter=["category2"]) %}
        {% if messages %}
          <ul class="flashes w3-jumbo" style="color: white">
          {% for message in messages %}
        {{ message }}
          {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}</h1>

    </center>
   
<div class="container">
  <div class="row">
    <div class="col-md">
<center>


</h3>
<h1 style="color: white">
Add New Template:
</h1>
    <form method="post">
      <textarea id="summernote" name="editordata"></textarea>
      <input name='templatename' type="text" class="form-control" placeholder="Template Name:" required></input>
      <input name='templatesubject' type="text" class="form-control" placeholder="Email Subject:" required></input>
      <button name="submit" type="submit" class="btn btn-primary btn-block">Add Template</button>
    </form>
  <script>
    $(document).ready(function() {
        $('#summernote').summernote();
    });
  </script>


  <h4 style="color: white">
   <br>Links will be scrubbed and replaced with an API token for reporting.
    <br>Please ensure text and images are as you would like them to appear.
    <br>If any of following keywords are used in the template,
    <br>they will be replaced with information related to the recipient.
    <br>firstname
    <br>lastname
    <br>receiveremail
    <br>datestamp<br>
    </h4>

    {% if searchtemplates %}
    <form method="post">
    <div class="col-md" style="form">
      <hr>
      <h3 style="color: white" class="w3-xlarge">Delete Templates:</h3>
      <div class="ex2">
        <div class="form-group">
            <label for="exampleFormControlSelect1"></label>
            <select name= 'selecttemplate' class="form-control" id="selecttemplate">
                <option>Templates</option>
                    {% for row in searchtemplates %}
                        <option id="{{ row }}" name="{{ row }}">{{ row }}</option>
                    {% endfor %}     
            </select>
            <button name="submit" type="submit" class="btn btn-primary btn-block">Delete Template</button>
            </div>
          </div>
          
    </div>
    </form>    
    {% endif %}

    <br>
    <hr>
    <br>
    <h3 style="color: white" class="w3-xlarge">View Existing Templates:</h3>
    <div class="ex2">
      <form method="POST">
          <td>        <select name= "templateview" class="form-control" id="templateview">
            <option>Templates</option>
                {% for row in searchtemplates %}
                    <option>{{ row }}</option>
                {% endfor %}
        </select>
    </td>
    </form>
    <script>
    $(function() {
      $('#templateview').change(function() {
          this.form.submit();
      });
    });
    </script>
    </div>
    {% if templateview %}
    <iframe style="background-color: Lightgrey" height="1000px" width="1200px" src="{{ templateview }}">
    </iframe>
    {% endif %}
    {% if templatecustom %}
    <iframe style="background-color: Lightgrey" height="1000px" width="1200px" src="https://app.nullphish.com/addtemplate/{{ templatecustom }}">
    </iframe>
    {% endif %}

  </div>
<center>


  </div>
</div>
  </center>
    <br><br>

  </body>
  </html>
</center>

