<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://app.nullphish.com/static/css/master.css">
    <link rel="stylesheet" href="https://app.nullphish.com/static/css/tiles.css">
    <link rel="icon" href="https://app.nullphish.com/static/res/favicon-320.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NullPhish: Education tools to Prevent Scams, Phishing, and Security Concerns</title>
    <style>
      #particles-js{
        overflow: hidden;
      }
    </style>
  </head>
  <body id="particles-js" onload="">
    <nav>
      <table>
          <td><a href="/results" class="passive">Results</a></li>
          <td><a href="/gophishing" class="passive">Phishing</a></li>
          <td><a href="/stats" class="passive">Stats</a></li>
          <td><a href="/" class="active">NullPhish &#169;</a></td>
          <td><a href="/profile" class="passive">Profile</a></li>
          <td><a href="/logout" class="passive">Log Out</a></td>
        </tr>
      </table>
    </nav>
    <div id="tilecontainer">
      <h1>Admin Modules</h1>
      <!--Row 1-->
      <a href="/adduser" style="background-image:url('https://app.nullphish.com/static/res/modules/admin/module1.svg')">
      </a>
      <a href="/mailsetup" style="background-image:url('https://app.nullphish.com/static/res/modules/admin/module2.svg')">
      </a>
      <a href="/addtemplate" style="background-image:url('https://app.nullphish.com/static/res/modules/admin/module3.svg')">
      </a>
      <!--Row 2-->
      <a href="/phishingstats" style="background-image:url('https://app.nullphish.com/static/res/modules/admin/module4.svg')">
      </a>
      <a href="/stats" style="background-image:url('https://app.nullphish.com/static/res/modules/admin/module5.svg')">
      </a>
      <a href="/" style="background-image:url('https://app.nullphish.com/static/res/modules/admin/module6.svg')">
      </a>
    </div>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/particlesjs/particles.min.js"></script>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/particlesjs/app.js"></script>
  </body>
</html>