<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://app.nullphish.com/static/css/master.css">
    <link rel="icon" href="https://app.nullphish.com/static/res/favicon-320.png">
    <title>NullPhish: Admin Profile</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
      #particles-js{
        height: 100%;
        overflow: hidden;
        width: 100%;
        padding: 0px;
        margin: 0px;
        position: absolute;
      }
    </style>
  </head>
  <body id="particles-js">
    <div id="navigation">
      <a href="/main">Tools</a>
      <a href="/schedulephish">Phishing</a>
      <a href="/phishingstats">Stats</a>
      <a href="/profile" class="active">Profile</a>
      <a href="#" onclick="showlogoutconfirmation();">Log Out</a>
    </div>
    <div class="contentcontainer" style="flex-direction: column;">
      <div id="header">
        <h1>Admin Profile</h1>
      </div>
      <div>
        <h2>User Details</h2>
        <p><strong>Name:</strong>&nbsp;&nbsp;{% if firstname %}{{ firstname }}{% endif %}&nbsp;{% if lastname %}{{ lastname }}{% endif %}</p>
        <p><strong>Business:</strong>&nbsp;&nbsp;{% if business %}{{ business }}{% endif %}</p>
        <p><strong>Department:</strong>&nbsp;&nbsp;{% if department %}{{ department }}{% endif %}</p>
        <p><strong>Role:</strong>&nbsp;&nbsp;{% if role %}{{ role }}{% endif %}</p>
        <p><strong>Email:</strong>&nbsp;&nbsp;{% if username %}{{ username }}{% endif %}</p>
      </div>
      <div>
        <h2>Password Change</h2>
        <form method="POST">
          <div class="form-group">
            <span class=""> <i class="fa fa-lock"></i> </span>
            <input name="password" placeholder="Enter password" type="password" style="padding: 5px;">
            <span class=""> <i class="fa fa-lock"></i> </span>
            <input name="repeat" placeholder="Repeat password" type="password" style="padding: 5px;">
            <button type="submit" style="padding: 5px;">Update Password</button>
          </div>
        </form>
      </div>
      <div>
        <h2>Messages</h2>
        {% with messages = get_flashed_messages(category_filter=["category2"]) %}
          {% if messages %}
            <ul>
              {% for message in messages %}
              {{ message }}
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}



            {% if currentmessages %}
            {% for dict in currentmessages %}
        <form method="POST">
          <tr style="text-align:center; width:fit-content;">
                <td style="width: 1px;" name="id" type="hidden" hidden><input type="hidden" id="{{ dict.id }}" name="id" value="{{ dict.id }}" hidden></td>
                <td style="width: fit-content;" name="sender"><input type="hidden" id="{{ dict.id }}" name="email" value="{{ dict.sender }}">{{ dict.sender }}</td>
                <td style="width: fit-content;" name="message"><input type="hidden" id="{{ dict.message }}" name="date" value="{{ dict.message }}">{{ dict.message }}</td>
                <td style="width: fit-content;" name="date"><input type="hidden" id="{{ dict.datesent }}" name="date" value="{{ dict.date }}">{{ dict.datesent }}</td>
                {% endfor %}
          </tr>
          </table>
        </form>
        {% else %}
        No new messages!
      {% endif %}



      </div>
    </div>
    <!-- Logout confirmation overlay -->
    <div id="confirmoverlay">
      <span>Are you sure you want to log out?</span><br>
      <a href="/logout">Yes</a>
      <a href="#" onclick="hidelogoutconfirmation();">No</a>
    </div>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/particlesjs/particles.min.js"></script>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/particlesjs/app.js"></script>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/master.js"></script>
  </body>
</html>