<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://app.nullphish.com/static/css/master.css">
    <link rel="icon" href="https://app.nullphish.com/static/res/favicon-320.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NullPhish: Education tools to Prevent Scams, Phishing, and Security Concerns</title>
    <style>
      #particles-js{
        overflow: visible;
      }
    </style>
  </head>
  <body id="particles-js">
    <div id="navigation">
      <a href="/main" class="active">Tools</a>
      <a href="/schedulephish">Phishing</a>
      <a href="/phishingstats">Stats</a>
      <a href="/profile">Profile</a>
      <a href="#" onclick="showlogoutconfirmation();">Log Out</a>
    </div>
    <div class="contentcontainer">
      <div id="header">
        <h1>Admin Modules</h1>
      </div>
      <a class="tile" href="/adduser" style="background-color: #49A355; background-image:url('https://app.nullphish.com/static/res/icons/usermanagement.png'); background-size:50%">
        <span class="tooltiptext">User Management</span>
      </a>
      <a class="tile" href="/mailsetup" style="background-color: #49A355; background-image:url('https://app.nullphish.com/static/res/icons/settings.png'); background-size:50%">
        <span class="tooltiptext">Mail Settings</span>
      </a>
      <a class="tile" href="/addtemplate" style="background-color: #49A355; background-image:url('https://app.nullphish.com/static/res/icons/addtemplate.png'); background-size:200%">
        <span class="tooltiptext">Add Templates</span>
      </a>
      <a class="tile" href="/emulateuser" style="background-color: #49A355; background-image:url('https://app.nullphish.com/static/res/icons/emulate.png'); background-size:50%">
        <span class="tooltiptext">Emulate User</span>
      </a>
      <a class="tile" href="/sendsms" style="background-color: #49A355; background-image:url('https://app.nullphish.com/static/res/icons/sendsms.png'); background-size:200%">
        <span class="tooltiptext">SMS Phishing</span>
      </a>
      <a class="tile" href="/schedulephish" style="background-color: #49A355; background-image:url('https://app.nullphish.com/static/res/icons/schedulephish.png'); background-size:200%">
        <span class="tooltiptext">E-Mail Phishing</span>
      </a>
      <a class="tile" href="/scheduled" style="background-color: #49A355; background-image:url('https://app.nullphish.com/static/res/icons/scheduled.png'); background-size:50%">
        <span class="tooltiptext">View Scheduled Items</span>
      </a>
      <a class="tile" href="/phishingstats" style="background-color: #49A355; background-image:url('https://app.nullphish.com/static/res/icons/stats.png'); background-size:50%">
        <span class="tooltiptext">Phishing Stats</span>
      </a>
    </div>
    <div id="confirmoverlay">
      <span>Are you sure you want to log out?</span><br>
      <a href="/logout">Yes</a>
      <a href="#" onclick="hidelogoutconfirmation();">No</a>
    </div>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/particlesjs/particles.min.js"></script>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/particlesjs/app.js"></script>
  </body>
</html>