<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://app.nullphish.com/static/css/master.css">
    <link rel="stylesheet" href="https://app.nullphish.com/static/css/tiles.css">
    <link rel="icon" href="https://app.nullphish.com/static/res/favicon-320.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NullPhish: Education tools to Prevent Scams, Phishing, and Security Concerns</title>
    <style>
      #particles-js{
        overflow: visible;
      }
    </style>
  </head>
  <body id="particles-js" onload="">
    <nav>
      <table>
        <tr>
          <td><a href="https://app.nullphish.com">Modules</a></td>
          <td><a href="/profile">Profile</a></td>
          <td><a href="/feedback">Feedback</a></td>
          <td><a href="/logout">Log Out</a></td>
        </tr>
      </table>
    </nav>
    <div id="tilecontainer" style="height: 100%">
      <div id="header"><h1 style="color: #721817">Admin Modules</h1></div>
      <!--Row 1-->
      <a href="/adduser" style="background-image:url('https://app.nullphish.com/static/res/modules/admin/module1.svg')">
        <span class="tooltiptext">User Management</span>
      </a>
      <a href="/mailsetup" style="background-image:url('https://app.nullphish.com/static/res/modules/admin/module2.svg')">
        <span class="tooltiptext">Mail Settings</span>
      </a>
      <a href="/addtemplate" style="background-image:url('https://app.nullphish.com/static/res/modules/admin/module3.svg')">
        <span class="tooltiptext">Add Templates</span>
      </a>
      <!--Row 2-->
      <a href="/gophishing" style="background-image:url('https://app.nullphish.com/static/res/modules/admin/module4.svg')">
        <span class="tooltiptext">E-Mail Phishing</span>
      </a>
      <a href="/sendsms" style="background-image:url('https://app.nullphish.com/static/res/modules/admin/module5.svg')">
        <span class="tooltiptext">SMS Phishing</span>
      </a>
      <a href="/emulateuser" style="background-image:url('https://app.nullphish.com/static/res/modules/admin/module6.svg')">
        <span class="tooltiptext">Emulate User</span>
      </a>
      <!--Row 3 -->
      <a href="/phishingstats" style="background-image:url('https://app.nullphish.com/static/res/modules/admin/module6.svg')">
        <span class="tooltiptext">Phishing Stats</span>
      </a>
      <a href="/stats" style="background-image:url('https://app.nullphish.com/static/res/modules/admin/module6.svg')">
        <span class="tooltiptext">Education Stats</span>
      </a>
    </div>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/particlesjs/particles.min.js"></script>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/particlesjs/app.js"></script>
  </body>
</html>