<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://app.nullphish.com/static/css/master.css">
        <link rel="stylesheet" href="https://app.nullphish.com/static/css/tiles.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>NullPhish: Intro </title>
        <style>

        </style>
      </head>
      <body>


        Some ideas:
<br>
What is a domain?
What is a subdomain?
Send as permissions

  </body>

</html>