<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://app.nullphish.com/static/css/master.css">
        <link rel="stylesheet" href="https://app.nullphish.com/static/css/tiles.css">
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>NullPhish: Intro </title>
        <style>

        </style>
      </head>
      <body>


        Some ideas:
<br>
What is a domain name?
<br>
<br>
To put it simply, a domain name is basically internet realty.  Domain names regulated by ICANN (The Internet Corporation for Assigned Names and Numbers) - whom I like to think of as the internet's librarians.  Domain registrars such as GoDaddy are ICANN accredited sellers of these domain names.  
<br>As an example, http://www.google.com is a URL (web address) for Google's main domain name.  Google.com would be the domain name.  The domain name can be used to describe the main name (part after https://), combined with the domain suffix (or TLD if you are savvy).  By domain suffix, we are inferring to .com , .net , .live , .org , .edu , as well as the hundreds of others.

<br>
<br>

What is a subdomain?




Terms:
Domain
Subdomain
Phishing
Spear Phishing
Clone Phishing
Smishing (SMS phishing)
Malicious
Spoof
Header
Send As permissions
Send on behalf
URL
hyperlink
Url Shortener
E-Mail Spoofing ( name )

  </body>

</html>