{% extends "emailbase.html" %}
{% block head %}
{% block title %}Email Education 1{% endblock %}
{{ super() }}
{% endblock %}
{% block style %}
{{ super() }}
{% endblock %}
{% block addstyle %}
article{
    width:815px;
    background-color:white;
    margin:50px auto;
    padding:5px 30px;
    border-radius:15px;
  }
  
  article h1{
    color:#3498db; 
    padding-bottom:15px;
    border-bottom:1px dashed #bdc3c7;
  }
  
  article a,article span{
    color:#3498db;
    text-decoration:none;
  }
  
  article .buton{
    color:white;
    position:relative;
    font-size:14px;
    left:10px;
    top:-5px;
    background-color:#3498db;
    text-decoration:none;
    padding:3px 6px;
  }
  
  article .buton:hover{
    background-color:#2980b9;
  }
  
  .tooltips {
    position: relative;
    display: inline;
  }
  
  .tooltips span {
    font:300 24px 'Open Sans', sans-serif;
    position: absolute;
    color: #FFFFFF;
    background: #000000;
    padding:5px 10px;
    width:600px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: transform .3s, opacity .6s, margin-left .2s, margin-top .2s;
  }
  
  .tooltips > span img{max-width:140px;}
  
  .tooltips[tooltip-position="top"] span{
    margin-left:10px;
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .tooltips[tooltip-position="bottom"] span{
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  
  .tooltips[tooltip-position="left"] span{
    margin-top:30px;
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  
  .tooltips[tooltip-position="right"] span{
    margin-top:30px;
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .tooltips span:after {
    content: '';
    position: absolute;
    width: 0; height: 0;
  }
  
  .tooltips[tooltip-position="top"] span:after{
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-top: 8px solid black;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
  
  .tooltips[tooltip-position="bottom"] span:after{
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    border-bottom: 8px solid black;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
  
  .tooltips[tooltip-position="left"] span:after{
    top: 50%;
    left: 100%;
    margin-top: -8px;
    border-left: 8px solid black;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  
  .tooltips[tooltip-position="right"] span:after{
    top: 50%;
    right: 100%;
    margin-top: -8px;
    border-right: 8px solid black;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  
  .tooltips:hover span {
    visibility: visible;
    opacity: 1;
    z-index: 999;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    filter: alpha(opacity=100);
  }
  
  .tooltips[tooltip-position="top"]:hover span{
    bottom: 30px;
    left: 50%;
    margin-left: -76px;
  }
  
  .tooltips[tooltip-position="bottom"]:hover span{
    top: 30px;
    left: 50%;
    margin-left: -76px;
  }
  
  .tooltips[tooltip-position="left"]:hover span{
    right: 100%;
    top: 50%;
    margin-top: -15px;
    margin-right: 15px;
  }
  
  .tooltips[tooltip-position="right"]:hover span{
    left: 100%;
    top: 50%;
    margin-top: -15px;
    margin-left: 15px;
  }
  
  .tooltips[tooltip-type="primary"] > span {
    background-color:#2980b9;
  }
  
  .tooltips[tooltip-type="primary"][tooltip-position="top"] > span:after{
    border-top: 8px solid #2980b9;
  }
  
  .tooltips[tooltip-type="primary"][tooltip-position="bottom"] > span:after{
    border-bottom: 8px solid #2980b9;
  }
  
  .tooltips[tooltip-type="primary"][tooltip-position="left"] > span:after{
    border-left: 8px solid #2980b9;
  }
  
  .tooltips[tooltip-type="primary"][tooltip-position="right"] > span:after{
    border-right: 8px solid #2980b9;
  }
  
  .tooltips[tooltip-type="success"] > span {
    background-color:#27ae60;
  }
  
  .tooltips[tooltip-type="success"][tooltip-position="top"] > span:after{
    border-top: 8px solid #27ae60;
  }
  
  .tooltips[tooltip-type="success"][tooltip-position="bottom"] > span:after{
    border-bottom: 8px solid #27ae60;
  }
  
  .tooltips[tooltip-type="success"][tooltip-position="left"] > span:after{
    border-left: 8px solid #27ae60;
  }
  
  .tooltips[tooltip-type="success"][tooltip-position="right"] > span:after{
    border-right: 8px solid #27ae60;
  }
  
  .tooltips[tooltip-type="warning"] > span {
    background-color:#f39c12;
  }
  
  .tooltips[tooltip-type="warning"][tooltip-position="top"] > span:after{
    border-top: 8px solid #f39c12;
  }
  
  .tooltips[tooltip-type="warning"][tooltip-position="bottom"] > span:after{
    border-bottom: 8px solid #f39c12;
  }
  
  .tooltips[tooltip-type="warning"][tooltip-position="left"] > span:after{
    border-left: 8px solid #f39c12;
  }
  
  .tooltips[tooltip-type="warning"][tooltip-position="right"] > span:after{
    border-right: 8px solid #f39c12;
  }
  
  .tooltips[tooltip-type="danger"] > span {
    background-color:#c0392b;
  }
  
  .tooltips[tooltip-type="danger"][tooltip-position="top"] > span:after{
    border-top: 8px solid #c0392b;
  }
  
  .tooltips[tooltip-type="danger"][tooltip-position="bottom"] > span:after{
    border-bottom: 8px solid #c0392b;
  }
  
  .tooltips[tooltip-type="danger"][tooltip-position="left"] > span:after{
    border-left: 8px solid #c0392b;
  }
  
  .tooltips[tooltip-type="danger"][tooltip-position="right"] > span:after{
    border-right: 8px solid #c0392b;
  }
  
  
      div.ex2 {
        max-width:500px;
        margin: auto;
        }

        div.ex3 {
resize: both;
overflow: auto;
}
{% endblock %}
      </style>
      {% block addscript %}
  <script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
  </script>
{% endblock %}
</head>
{% block container %}
{% block header %}Email Education Part 1{% endblock %}
{{ super() }}

{% block leftpane %}
<p>Email Refund Example:</p>
<table cellpadding="0" style="width: 442px;" height="5">
<tbody>
<tr>
<td style="width: 295.333px;">
<table cellpadding="0">
<tbody>
<tr>
<td>
<h3><span role="gridcell" tabindex="-1"><span email="support@vbankusa.com" name="support@vbankusa.com" data-hovercard-id="support@vbankusa.com"><span tooltip="Good job!&lt;br&gt;Always look at the email associated with the sender.&lt;br&gt;In many email viewers, it is common for only the name to be shown prior to inspection, not the actual email address." tooltip-position="right">support@vbankusa.com</span></span>&nbsp;<span aria-hidden="true"></span><span aria-hidden="true"></span></span></h3>
</td>
</tr>
</tbody>
</table>
</td>
<td style="width: 146px;">
<div><span id=":18x" title="Nov 16, 2019, 7:00 PM" alt="Nov 16, 2019, 7:00 PM" role="gridcell" tabindex="-1">05/19/2020 07:55</span>
<div aria-label="Not starred" title="Not starred" role="checkbox" aria-checked="false" jslog="20511; u014N:cOuCgd,Kr2w4b;" tabindex="0"></div>
</div>
</td>
</tr>
</tbody>
</table>
<center></center>
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center"><span tooltip="Great!&lt;br&gt;It is common to see your name used with malicious intent." tooltip-position="right">Hello,&nbsp;Kevin Brown</span></td>
</tr>
</tbody>
</table>
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td>&nbsp;</td>
<td align="center" width="117"><img alt="PayPal" border="0" height="71" src="https://gokdb.com/public/images/phishing/vbusiness2.png" title="V. Corp" width="117" /></td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr dir="LTR">
<td align="center" bgcolor="#ffffff" valign="top"><img alt="" border="0" height="81" src="https://ci6.googleusercontent.com/proxy/GsRQ45UFDFHNJuuSD4UyRIHZnPsDMLtcrMgUh9clrtuIlJ9ie2aoareojsvaFa69I4LxwaLHrXZrbilObptP4khOFPSwaGff2zQ3Fe6RNZh4mryWOH3avH3nqCHOZvUOKrUsEyw8KmZr5BJwUEVlNFYrSiQwywpk4pxEICWJiJOABH4=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/header-sidebar-left-top.jpg" width="100%" /></td>
<td align="center" bgcolor="#ffffff" dir="LTR" width="600">
<table border="0" cellpadding="0" cellspacing="0" dir="LTR" width="100%">
<tbody>
<tr>
<td align="center" valign="top" width="12"><img alt="" border="0" height="81" src="https://ci3.googleusercontent.com/proxy/ISLuIPUpMNFjY8a-bm1nohPY-zN0jrmerqg4A1YcWDC70ylH93Yu3xOzXZGf49pgZZg5NdV85vc1yVwQYoIfQEdG-DaMg-nn0Jz72fHDExbfgzqwc6wW6eIOrfvO3tl-nuyfv9y8KIXlD3Uglq_GxpIFz4fwYhGT9MXkcXMz=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/header-left-corner.jpg" width="12" /></td>
<td align="center" valign="top"><img alt="" border="0" height="81" src="https://ci3.googleusercontent.com/proxy/3yrOoq4c9yMVeYe3jCY80invFSVOeOmPz5ePscm2ZFNY5zjCkEtCy9DnTDUl0aCHHiqS1fSNP6WBNJvpywu0v3ceNSZHH7ACfSNZ8Y0b2Q8NQJuQio6WlEQIRNe0Xo1RsC8b1iRFZ9OUY0hC_E2WCbe57qXhSuw=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/header-left.jpg" width="100%" /></td>
<td align="center" valign="top" width="117"><img alt="" border="0" height="81" src="https://ci3.googleusercontent.com/proxy/OpxforB8blqTBameEP5zXL6arxqzCNE0VD2TW1qgPjM7q_F766uAMUaQFvzJnkMR2_-41bjIbvlyRovYexuZKOB7a0j0pr8VMbIi5AmD6XoWxhLQ59ImoIRz90SQ1D1RElAO1yOncWmGblnmtxTm7-9GK5AgU1VeqqNuRgCbpoE=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/header-center-circle.jpg" width="100%" /></td>
<td align="center" valign="top"><img alt="" border="0" height="81" src="https://ci3.googleusercontent.com/proxy/KrF9zANxguzoZWDYQ65Pl2AfO54bq-JrCgACtpnsJ0B4NZQwHSkz-go8t_oSdmdd4tsoWDU6qtfhou8tNAOtc3RzQrDymFh5Ci3CsDRQplUfuQIT7aq-cGx1vIL1VZNdi_GQJLWtfjfjWPzqHLsy_7kjcNmt_yrK=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/header-right.jpg" width="100%" /></td>
<td align="center" valign="top" width="12"><img alt="" border="0" height="81" src="https://ci3.googleusercontent.com/proxy/TTw4fpPsRLD78A0F_KGnDI_Hya7Uz_Ng7TWonSAGMiRz7qXxRSSZypZzFwFDY4Uq2tHNsEZt__pVgTLH1LGfNWZtct12u5JadOySRWmxL4L8pZl2kg7oksns0Cz51-yqGLIl4xI8mwEuVSYeuV3LfNfm7i9xbf8S-tMnQwf5Wg=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/header-right-corner.jpg" width="12" /></td>
</tr>
</tbody>
</table>
</td>
<td align="center" bgcolor="#ffffff" valign="top"><img alt="" border="0" height="81" src="https://ci6.googleusercontent.com/proxy/QDQw8G1Jt4gXFJwNumnKT6oh1rUOYPZGDK10yrmawTOjM5Fq0x09udc00qTAoviCJse4gVSmX8bK-18SIYyb0dqmwX0kQM1hiWPCzRlksMbBkDXOvu4tN2itSwxBs9pn1UcVNBRq4dlbpY8lnyoUPKKHt5UFDpOcQL8sGo43zA_nmp5J=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/header-sidebar-right-top.jpg" width="100%" /></td>
</tr>
<tr>
<td align="left" valign="top">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center" bgcolor="#ffffff" valign="top"><img alt="" border="0" height="96" src="https://ci3.googleusercontent.com/proxy/li1lzePIClKspAmlQFjJlYX_faBkvJHk1SLYGx5Z05tN1t_nCdga9bzGIy6ezhaPqgu108cV0CVj-RKpiEjwkfqZGhi5S7HB7aspPZNZwlPrOe-61OsMPaSTdSpJz6pcQ6NmiAPInA3Rm6p-KEsJyY5elt2S4sAA7gTn-Qc6EWh4e-u-cg8=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/header-sidebar-left-bottom.jpg" width="100%" /></td>
</tr>
<tr>
<td align="right" bgcolor="#ffffff" valign="top"><img alt="" height="100" src="https://ci6.googleusercontent.com/proxy/dWwkdECJDwHgXMbg4bonYp0NRLsTphqtFn1V0v9CGRJoxdNxlkGvL6FJQzlHFEkw0Bkbxxo3w5i-FxytdG3Bo2I87Z7SA6WueDp1lCEHxY3_UHsTE6zFxZNa1ftXAxhnqS4bTccpi9o5o6JCfY14aiWSc059s2vHhSdIiw=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/sidebar-gradient.png" width="1" /></td>
</tr>
</tbody>
</table>
</td>
<td align="center" valign="top" width="600">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center" bgcolor="#ffffff" valign="top">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center" valign="top">V. Corp refunded $128.98&nbsp;USD from your recent purchase.</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td valign="top">
<div id="m_-4673647860089915424953c8c1f-e332-d01d-fe7c-385b6b094c76">
<div id="m_-4673647860089915424d14aa760-e029-bb28-5399-940ce2e2cb13">
<div id="m_-4673647860089915424607599eb-068f-187c-3145-87ef372302ab">
<div id="m_-4673647860089915424305113e2-ca74-725c-1bc0-4bd65634a648">The money will be refunded to your bank account. It may take a few days to appear on your statement.</div>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center">Your refund summary</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center">
<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td valign="top">Transaction ID:&nbsp;31195FA31E54</td>
<td align="right" valign="top" width="   ">05/19/2020 07:55</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center">
<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td valign="top">Total purchase amount</td>
<td align="right" valign="top">$128.98&nbsp;USD</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center">
<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td valign="top">Amount refunded</td>
<td align="right" valign="top">$128.98&nbsp;USD</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="">Refund paid by</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td valign="top">
<p>V. Corp</p>
<p><span tooltip="Great!&lt;br&gt;Always check links,&lt;br&gt;this could have been a different&lt;br&gt;email address or&lt;br&gt;a link to a malicious site." tooltip-position="right"><a target="_self" href="https://app.nullphish.com/education/email/1?!">support@vbankusa.<wbr />com</a></span></p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="">Refund paid to</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td valign="top"><span tooltip="Great!&lt;br&gt;Always check links,&lt;br&gt;though this looks like your email, this could have been a different&lt;br&gt;email address or&lt;br&gt;a link to a malicious site." tooltip-position="right"><a target="_self" href="https://app.nullphish.com/education/email/1?!">kevin@nullphish.com</a></span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center">Refund details</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center">
<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td valign="top">
<div id="m_-4673647860089915424ea40116f-260c-5828-a45f-6c958f48fded">Refunded to bank&nbsp;xxxx:</div>
</td>
<td align="right" valign="top" width="30%">
<div id="m_-4673647860089915424dcdd8ecd-84f2-953f-e2bc-3b1eac8463cb">$128.98&nbsp;USD</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td align="left" valign="top">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center" bgcolor="#ffffff" valign="top"><img border="0" height="96" src="https://ci4.googleusercontent.com/proxy/3Vgse0KtQW0Jm0uM-7uIlQSa4BZZZHguqnJ0Wbi9WbqUm_t96uYxbGXSRJWchWqzmF8q3PgbfHvJJj9iPVdtUT45vb7MVCS_y5BBYPoHjQb8WYLYmouYlrjDOT9LgTQCVT39O3HOsDDRr9pYeS1x-xjf7jwE1J1USiF1Dv4U7AotmcSC66H1=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/header-sidebar-right-bottom.jpg" width="100%" /></td>
</tr>
<tr>
<td align="left" bgcolor="#ffffff" valign="top"><img height="100" src="https://ci6.googleusercontent.com/proxy/dWwkdECJDwHgXMbg4bonYp0NRLsTphqtFn1V0v9CGRJoxdNxlkGvL6FJQzlHFEkw0Bkbxxo3w5i-FxytdG3Bo2I87Z7SA6WueDp1lCEHxY3_UHsTE6zFxZNa1ftXAxhnqS4bTccpi9o5o6JCfY14aiWSc059s2vHhSdIiw=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/sidebar-gradient.png" width="1" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" dir="LTR" width="100%">
<tbody>
<tr>
<td>&nbsp;</td>
<td align="center" width="600">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="left">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center" valign="top" width="12"><img alt="" border="0" height="141" src="https://ci4.googleusercontent.com/proxy/I7MDHAg3fRKIUlIjbHFigTn8hz6VmA-WW4U0JEsWyMFUK6CwRXPOtZ1N5VkWDYroZzeU2V3n2jOUMBa9jwlw3Vi7F3dhd_g3okJrxsuzbv2eneyoBhG07rge24cIVQJr6GoLRyo13dIq47KACZ-03YsPejH2NbD0rjH_7p2H=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/footer-left-corner.jpg" width="12" /></td>
<td align="center" valign="top"><img alt="" border="0" height="141" src="https://ci5.googleusercontent.com/proxy/74wBtNoHrA8Z3FAH1E57IHdZa8n-b_mmYaNyk9mBIQmavl9oFNb0HzghQyrPgRfA_Bzn98Hg44iA3eJQCbqFizacG12A4ugE8Gv-8SWUumJH9z55bW1Rghi3n3gpUZFS4tCmDpo7YZOVqmt5DPRsDvWyq2m-lbyy6Y8jjrFL=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/footer-left-stroke.jpg" width="100%" /></td>
<td align="center" valign="top" width="120"><img alt="PayPal" border="0" height="80" src="https://gokdb.com/public/images/phishing/vbusiness2.png" width="120" /></td>
<td align="center" valign="top"><img alt="" border="0" height="141" src="https://ci5.googleusercontent.com/proxy/P3kU6RqSAxLiAtunuN7iqBgVJ9_czNiww5E1mool5Hxsfhd27vwjGoJR0NCq4_5QZzksXs36ihvbuX3rb7LfZiyOl2136UdO8wETaUxubJkUpHoc6KOfg9_3R0gpfVshOuv9JH4Ryz2cyqp6G1xVDwTZv0vs3h7SicXMG4vbZA=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/footer-right-stroke.jpg" width="100%" /></td>
<td align="center" valign="top" width="12"><img alt="" border="0" height="141" src="https://ci3.googleusercontent.com/proxy/DO-1ucQ0tuHvWFFS9uCQWwA1iiyde6JFiPi37iqPBYfLyDhmn1fg9QAuJvUQH7Ihtgg0GCJVaXM5q4WUBQQcGbooew6e6yu14nKgALiRmsqlWDpN8E7K-oGt-qdaIz01H5a0EodOS_Poxvv2gLyK50SDUmvcveF5krWREYf-eA=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/footer-right-corner.jpg" width="12" /></td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center"><span tooltip="Great!&lt;br&gt;Any of these links could have gone to fraudulent sites&lt;br&gt;Look at the URL in the bottom left of your browser to see where you are being directed" tooltip-position="top"><a target="_self" alt="Help &amp; Contact" data-saferedirecturl="" href="https://app.nullphish.com/education/email/1?!">Help &amp; Contact</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a alt="Security" href="https://app.nullphish.com/education/email/1?!" target="_blank" rel="noopener">Security</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a target="_self" alt="Apps" href="https://app.nullphish.com/education/email/1?!">Apps</a></span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td align="center">
<table align="center" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td align="left" valign="middle"><span tooltip="Great!&lt;br&gt;Any of these links could have gone to fraudulent sites&lt;br&gt;Look at the URL in the bottom left of your browser to see where you are being directed" tooltip-position="top"><a target="_self" data-saferedirecturl="" href="https://app.nullphish.com/education/email/1?!"><img alt="twitter" border="0" height="29" src="https://ci3.googleusercontent.com/proxy/0wiLWOLyrUJ897a7uGVRIqoUKV1Ijo5E1jRVMgPAUHV3A1-cpiugjHUVy2Kiudtol3slGNTU5mWgcoGFDSez3bWShbXrlbx5PQi-MWqkDzqFKvV8HLKULOlYO-n73PSe2BqWoYAR1799vUEE6_rauevvfg=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/icon-tw.jpg" width="28" /></a></span></td>
<td align="left" valign="middle"><span tooltip="Great!&lt;br&gt;Any of these links could have gone to fraudulent sites&lt;br&gt;Look at the URL in the bottom left of your browser to see where you are being directed" tooltip-position="top"><a target="_self" data-saferedirecturl="" href="https://app.nullphish.com/education/email/1?!"><img alt="instagram" border="0" height="29" src="https://ci6.googleusercontent.com/proxy/cnhdJhK63uSsFcwavOFsQ6lzUn2LAIqszVnZPkX_7Vj9HOyZsdOo7Jwlw_2tqjD-p9sxl6ijHzM_pGgCqEHoUI2i2x9QtFnNtO2iix_DAgL8PlvcV5d88PCrk2pycwH9iiMr7TIzX6qiFnsQPc9xUWRvHA=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/icon-ig.jpg" width="28" /></a></span></td>
<td align="left" valign="middle"><span tooltip="Great!&lt;br&gt;Any of these links could have gone to fraudulent sites&lt;br&gt;Look at the URL in the bottom left of your browser to see where you are being directed" tooltip-position="top"><a target="_self" data-saferedirecturl="" href="https://app.nullphish.com/education/email/1?!"><img alt="facebook" border="0" height="29" src="https://ci6.googleusercontent.com/proxy/JSJS_W8va8ZLj6fe-reVMaV30P6rWf3a9lMWCWiuEEGEoUSYmOPGuIMF78yDSwYZhkLlMvEzAHK-i3LKyhECucuNVj3NPPePR08Uq3PgJDzYr1sDB2wiQqQmlKGybXoqbjhsryHFyb0X45fXRg6qvYPB5Q=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/icon-fb.jpg" width="28" /></a></span></td>
<td align="left" valign="middle"><span tooltip="Great!&lt;br&gt;Any of these links could have gone to fraudulent sites&lt;br&gt;Look at the URL in the bottom left of your browser to see where you are being directed" tooltip-position="top"><a target="_self" data-saferedirecturl="" href="https://app.nullphish.com/education/email/1?!"><img alt="linkedin" border="0" height="29" src="https://ci6.googleusercontent.com/proxy/F0La4P45ESUMC0gu2RJjsrubrnsxB6bPcPKBY2qO3IT_8rEi3myMPJxHWeZmkqr-aOXwUzvcEoPHpgHfNmB0OLWBAXLpVwlP-_6eH-aMyth1Eb4e-QLE0A4n1ypYf4teQpq4hOr35AfNowvJ5HtLLTVcfA=s0-d-e1-ft#https://www.paypalobjects.com/digitalassets/c/system-triggered-email/n/layout/images/icon-li.jpg" width="28" /></a></span></td>
</tr>
</tbody>
</table>
<p></p>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td>&nbsp;</td>
<td align="center" width="600">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td>
<p>V. Corp is committed to preventing fraudulent emails. Emails from V. Corp will always contain your full name.&nbsp;<a target="_self" data-saferedirecturl="" href="https://app.nullphish.com/education/email/1?!"></a></p>
</td>
</tr>
</tbody>
</table>
</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td>&nbsp;</td>
<td align="center" width="600">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td>
<p>Please don't reply to this email. To get in touch with us, click&nbsp;<span tooltip="Great!&lt;br&gt;Any of these links could have gone to fraudulent sites&lt;br&gt;Look at the URL in the bottom left of your browser to see where you are being directed" tooltip-position="top"><a target="_self" href="https://app.nullphish.com/education/email/1?!">Help &amp; Contact</a></span>.</p>
</td>
</tr>
</tbody>
</table>
</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td>&nbsp;</td>
<td align="center" width="600">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td>
<p>V. Corp Customer Service can be reached at 888-855-1611.</p>
</td>
</tr>
</tbody>
</table>
</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td>&nbsp;</td>
<td align="center" width="600">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td></td>
</tr>
</tbody>
</table>
</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td>&nbsp;</td>
<td align="center" width="600">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td>
<table border="0" cellpadding="0" cellspacing="0" id="m_-4673647860089915424emailFooter" width="100%">
<tbody>
<tr>
<td>
<p>Copyright &copy; 2005-2020 V. Corp, Inc. All rights reserved. V. Corp is located at 193 1st St., NY 91521.</p>
<p>V. Corp PPC987213:1.13.47:<wbr />rhf287fy</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
{% endblock %}

{% block rightpane %}
Information
{% endblock %}

{% endblock %}