<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://app.nullphish.com/static/css/master.css">
    <link rel="stylesheet" href="https://app.nullphish.com/static/css/tiles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NullPhish: Education tools to Prevent Scams, Phishing, and Security Concerns</title>
    <style>
      #particles-js{
        overflow: hidden;
      }
    </style>
  </head>
  <body id="particles-js">
    <nav>
      <table>
          <td><a href="/main" class="passive">Modules</a></li>
          <td><a href="/education" class="passive">Education</a></li>
          <td><a href="" class="passive">Testing</a></li>
          <td><a href="/stats" class="passive">Results</a></li>
          <td><a href="" class="active">NullPhish &#169;</a></td>
          <td><a href="/profile" class="passive">Profile</a></li>
          <td><a href="" class="passive">Admin</a></li>
          <td><a href="/gophishing" class="passive">Phishing</a></li>
          <td><a href="/logout" class="passive">Log Out</a></td>
        </tr>
      </table>
    </nav>
    <div id="tilecontainer">
      <h1>Choose a module</h1>
      <!--Row 1-->
      <a href="/education/email/1">
        <div class="apptile" onmouseover="showemaildesc('module1desc')" onmouseout="hideemaildesc('module1desc')">
          <img>
          <p>Example 1: Generic/HTML</p>
        </div>
      </a>
      <a href="/" style="text-decoration: none;">
        <div class="apptile" onmouseover="showemaildesc('module2desc')" onmouseout="hideemaildesc('module2desc')">
          <img>
          <p>Example 2: Image links</p>
        </div>
      </a>
      <a href="/education/email/2" style="text-decoration: none;">
        <div class="apptile" onmouseover="showemaildesc('module3desc')" onmouseout="hideemaildesc('module3desc')">
          <img>
          <p>Example 3: TBD</p>
        </div>
      </a>
      <!--Row 2-->
      <div class="appdescription module1desc">
        <span>A fancy description about the objectives and overall course go here!</span>
      </div>
      <div class="appdescription module2desc">
        <span>A fancy description about the objectives and overall course go here!</span>
      </div>
      <div class="appdescription module3desc">
        <span>A fancy description about the objectives and overall course go here!</span>
      </div>
      <!--Row 3-->
      <div class="appdescription module4desc" style="vertical-align: bottom; display:flex;">
        <span style="align-self:flex-end; padding-bottom: 15px;">A fancy description about the objectives and overall course go here!</span>
      </div>
      <div class="appdescription module5desc" style="vertical-align: bottom; display:flex;">
        <span style="align-self:flex-end; padding-bottom: 15px;">Test your knowledge of this section</span>
      </div>
      <!--Row 4-->
      <a href="/" style="text-decoration: none;">
        <div class="apptile" onmouseover="showemaildesc('module4desc')" onmouseout="hideemaildesc('resultsdesc')">
          <img>
          <p>4: </p>
        </div>
      </a>
      <a href="/" style="text-decoration: none;">
        <div class="apptile" onmouseover="showemaildesc('module5desc')" onmouseout="hideemaildesc('profiledesc')">
          <img>
          <p>Take the Quiz</p>
        </div>
      </a>
    </div>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/particlesjs/particles.min.js"></script>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/particlesjs/app.js"></script>
    <script type="text/javascript">
      function showemaildesc(x) {
        var y = document.getElementsByClassName(x);
        y[0].style.visibility = 'visible';
      }
      function hideemaildesc(x) {
        var y = document.getElementsByClassName(x);
        y[0].style.visibility = 'hidden';
      }
    </script>
  </body>

</html>