<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://app.nullphish.com/static/css/emailstyle.css">
    <link rel="icon" href="https://app.nullphish.com/static/res/favicon-320.png">
    <title>NullPhish: Email</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
    <div id="topbar">
        <div id="topbar-lefthalf">
          <img src="https://app.nullphish.com/static/res/menudd.svg" style="padding-right: 25px; width: 25px;">
          <img src="https://app.nullphish.com/static/res/emaillogo.svg" style="padding-right: 25px; width: 50px;">
          <p class="nullemail">NullEmail</p>
          <input id="searchbar">
        </div>
        <div id="topbar-righthalf">
          <p id="initialsbtn">NP</p>
          <p id="helpbtn">?</p>
        </div>
    </div>
    <div id="contentarea">
      <div id="emailsandinboxes">
        <p class="inbox active">Inbox (3)</p>
        <p class="inbox">Flagged</p>
        <p class="inbox">Sent</p>
        <p class="inbox">Drafts</p>
        <p class="inbox">Spam</p>
      </div>
      <div>
        <p id="emailtitle">Final Notice: Payment Declined</p>
        <div id="emailsenderinfo">
          <p style="font-weight: bold;">Geico Insurance</p>
          <p>to me</p>
        </div>
        <div id="emailcontentcontainer">
          <p>Hello, <br>This is the finance department reaching out to you because your insurance payment option has been declined. To avoid a lapse in coverage,
          please visit the following link to update your payment information immediately!</p>

          <div id="emailtoolbox">
            <btn class="replyfwdbutton"><img src="https://app.nullphish.com/static/res/reply.svg"> Reply</btn>
            <btn class="replyfwdbutton"><img src="https://app.nullphish.com/static/res/forward.svg">Forward</btn>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>