<div dir="auto">
    <div>From: LeafFilter Promo &lt;proff@pleadhand.host&gt;</div>
    <div>Date: 2/29/20 3:31 AM (GMT-08:00)</div>
    <div>To:</div>
    <div>Subject: Stop waiting! Protect your gutters this Winter and save $250!</div>
    <div>&nbsp;</div>
    </div>
    <div>
    <div>
    <table border="0" cellspacing="0" cellpadding="0" align="center">
    <tbody>
    <tr>
    <td>
    <div>
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
    <td>
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
    <td align="center">
    <table border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
    <td><a href="" target="_blank" rel="noopener"><img src="http://hin.pleadhand.host/3LJtsC6ZdiJRKstOCLB5lnm4FeUPlSM4_R-hd9nNW7uRWijdzwnIxgf3NG1gwWwUA9-1WaLPFG3wcn_MzC7_rQA427XucIUDq_EsBcVVEkYWDUis44b3Y9g" alt="LeafFilter | Get a FREE Estimate" width="650" height="auto" border="0" /></a></td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    <tr>
    <td align="center">
    <table border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
    <td><a href="" target="_blank" rel="noopener"><img src="http://hin.pleadhand.host/xwPQVPjeQLXa7DKyq-uzy0zntprCGvmUETHgxhDvul9n-V9io2J2q0_H0m88qAiAiZRYqDPG3oCCPRClzd7_MH5kfASC-hLeFUq65DhVTwdZiiRsdMSkJLQ" alt="Take $250 Off" width="650" height="auto" border="0" /></a></td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    <tr>
    <td align="center">
    <table border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
    <td><a href="" target="_blank" rel="noopener"><img src="http://hin.pleadhand.host/drboW_JAL52COf2vSoPyNrGmGyGcofVYw_ucE50bxOJ2aiGKfD9w5nZHTShNNMlZtDIl5dMFwe29NO86Z_Q1jGor5IccfuOv6BSAwqEXc0gqDwgIl9ATmiQ" alt="The Permanent Solution to Clogged Gutters" width="650" height="auto" border="0" /></a></td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    <tr>
    <td align="center">
    <table border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
    <td><a href="" target="_blank" rel="noopener"><img src="http://hin.pleadhand.host/J7r6FjjeMr18Szg15HtyDeS1JZB72oIE10j3ayFRHStNn_9Ig8z4S7NOgIqo1knV4OtyGve0vbWJN8r5WimBq6S_x4qMTKHump8WWRBEKfOZCWXMjzwAOcs" alt="Surface Tension | 11 Degree Pitch | Protection" width="650" height="auto" border="0" /></a></td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    <div>
    <table border="0" cellspacing="0" cellpadding="0" align="center">
    <tbody>
    <tr>
    <td>
    <div>
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
    <td align="center">
    <div>This is an advertisement. This email was sent on behalf of LeafFilter. To unsubscribe,&nbsp;<a href="" target="_blank" rel="noopener">click here</a>&nbsp;or write to 1595 Georgetown Road | Hudson, OH 44236</div>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>