<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/master.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>NullPhish: Education tools to Prevent Scams, Phishing, and Security Concerns</title>
    </head>
    <nav>
        Test
    </nav>
    <body>
        <p style="font-size:xxx-large;">Test</p>
    </body>
</html>