<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://app.nullphish.com/static/css/master.css">
    <link rel="icon" href="https://app.nullphish.com/static/res/favicon-320.png">
    <title>NullPhish: Login to Your Account</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
      #particles-js{
        height: 100%;
        overflow: hidden;
        width: 100%;
        padding: 0px;
        margin: 0px;
        position: absolute;
      }
    </style>
  </head>
  <body>
    <div id="particles-js"></div>
    <div id="navigation">
      <a href="https://app.nullphish.com/register">Sign Up</a>
      <a href="https://nullphish.com">NullPhish &#169;</a>
      <a href="https://app.nullphish.com/login">Log In</a>
    </div>
    <div class="contentcontainer" style="flex-direction: column; flex-wrap: nowrap;">
      <div style="border-bottom: 1px solid #E0E0E0; padding-bottom: 15px;">
        <h1>Login to NullPhish</h1>
        <div>
          <form class="" action="" method="post">
            <input type="text" placeholder="Email Address" name="username" value="{{
              request.form.username }}">
            <input type="password" placeholder="Password" name="password" value="{{
              request.form.password }}">
              <br>
            <input type="submit" value="Login">
          </form>
        </div>
      </div>
      <div>
        {% if error %}
        <p><strong>Error:</strong> {{ error }}</p>
        {% endif %}
        <p>Don't have an account?</p>
        <p><a href="/register"><strong>Register Now</strong></a></p>
        <br>
        <p>Forgot Password?</p>
        <p><a href="/resetpass"><strong>Reset Password</strong></a></p> 
      </div>
    </div>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/particlesjs/particles.min.js"></script>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/particlesjs/app.js"></script>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/master.js"></script>
  </body>
</html>