<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://app.nullphish.com/static/css/master.css">
    <link rel="stylesheet" href="https://app.nullphish.com/static/css/tiles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NullPhish: Education tools to Prevent Scams, Phishing, and Security Concerns</title>
    <style>
      #particles-js{
        overflow: hidden;
      }
    </style>
  </head>
  <body id="particles-js" onload="">
    <nav>
      <table>
          <td><a href="/main" class="passive">Modules</a></li>
          <td><a href="/stats" class="passive">Results</a></li>
          <td><a href="/main" class="active">NullPhish &#169;</a></td>
          <td><a href="/profile" class="passive">Profile</a></li>
          <td><a href="/logout" class="passive">Log Out</a></td>
        </tr>
      </table>
    </nav>
    <div id="tilecontainer">
      <h1>Select Your Module To Begin</h1>
      <!--Row 1-->
      <a href="/education/intro" id="module1">
        <div class="apptile">
        </div>
      </a>
      <a href="/education/email" id="module2">
        <div class="apptile">
        </div>
      </a>
      <a href="/" id="module3">
        <div class="apptile">
        </div>
      </a>
      <!--Row 2-->
      <a href="/" id="module4">
        <div class="apptile">
        </div>
      </a>
      <a href="/" id="module5">
        <div class="apptile">
        </div>
      </a>
      <a href="/" id="module6">
        <div class="apptile">
        </div>
      </a>
    </div>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/particlesjs/particles.min.js"></script>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/particlesjs/app.js"></script>
  </body>
</html>