<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://app.nullphish.com/static/css/master.css">
    <!--<link rel="stylesheet" href="https://app.nullphish.com/static/css/tiles.css">-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NullPhish: Education tools to Prevent Scams, Phishing, and Security Concerns</title>
    <link rel="icon" href="https://app.nullphish.com/static/res/favicon-320.png">
    <style>
      #particles-js{
        overflow: hidden;
      }
    </style>
  </head>
  <body id="particles-js">
    <div id="navigation">
      <a href="/main" class="active">Modules</a>
      <a href="/profile">Profile</a>
      <a href="#" onclick="showlogoutconfirmation();">Log Out</a>
    </div>
    <div class="contentcontainer">
      <div id="header">
        <h2>Welcome,&nbsp;{% if firstname %}{{ firstname }}{% endif %}&nbsp;{% if lastname %}{{ lastname }}{% endif %}!</h2>
        <h1>Select Your Module To Begin</h1>
      </div>
      <a class="tile" href="/education/intro" style="background-image:url('https://app.nullphish.com/static/res/modules/main/module1.svg');">
        <span>Tooltip text here!</span>
      </a>
      <a class="tile" href="/education/email" style="background-image:url('https://app.nullphish.com/static/res/modules/main/module2.svg');">
        <span>Tooltip text here!</span>
      </a>
      <a class="tile" href="/" style="background-image:url('https://app.nullphish.com/static/res/modules/main/module3.svg');">
        <span>Tooltip text here!</span>
      </a>
      <a class="tile" href="/" style="background-image:url('https://app.nullphish.com/static/res/modules/main/module4.svg');">
        <span class="tooltiptext">Tooltip text here!</span>
      </a>
      <a class="tile" href="/" style="background-image:url('https://app.nullphish.com/static/res/modules/main/module5.svg');">
        <span class="tooltiptext">Tooltip text here!</span>
      </a>
      <a class="tile" href="/" style="background-image:url('https://app.nullphish.com/static/res/modules/main/module6.svg');">
        <span class="tooltiptext">Tooltip text here!</span>
      </a>
    </div>
    <div id="confirmoverlay">
      <span>Are you sure you want to log out?</span><br>
      <a href="/logout">Yes</a>
      <a href="#" onclick="hidelogoutconfirmation();">No</a>
    </div>
    <script type="text/javascript" src="https://app.nullphish.com/static/js/particlesjs/particles.min.js"></script>
    <script type="text/javascript" src="https://app.nullphish.com/static/js/particlesjs/app.js"></script>
    <script type="text/javascript" src="https://app.nullphish.com/static/js/tiles.js"></script>
    <script type="text/javascript" src="https://app.nullphish.com/static/js/master.js"></script>
  </body>
</html>