<html>
  <head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="http:///ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <link href="/docs/4.0/assets/css/docs.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style400.css">
    <link rel="stylesheet" href="css/quiz.css">
    <style>
      @import url(https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,latin-ext);
    </style>
  </head>
  <body>
    <!--Quiz Header-->
    <center>
    <article>
    Example one:
    </article>
    <hr>
    </center>
    <!--Quiz Container-->
    <div class="container">
    <div class="box">
        <div class="box-row">
            <div class="box-cell box1"> 
                <p>
                  <strong>From</strong>:  "Sass, Bradley"  </span> 
                  <a href="mailto:sass@tamhsc.edu" rel="noreferrer"></a>  &lt;sass@tamhsc.edu&gt; </span>  <br><strong>Subject</strong>:  Your Dropbox File<br><strong>Date</strong>:  Mon, 10 Jan 2020
                </p >
                <p>
                  <img alt="Dropbox logo" src="https://security.berkeley.edu/sites/default/files/styles/width_100/public/glyph_342x_0.png?itok=gW9ShD4e&amp;c=7d72319ece4d25d48f54bc41e937ab03&amp;timestamp=1485971483"></span>
                </p>
                <div><br>Hello,</div>
                <div>You just received a file through Dropbox Share Application.</div>
                <div>Please click below and log in to view file.</div>
                <div><br>
                  <a href="http://fakedropbox.net" title="http://fakedropbox"><button class="btn btn-primary">View file</span></button></a><br>
                </div>
                <br>
                <div>Every time a friend installs Dropbox, we'll give both of you 1 GB of</div>
                <div>space for free! Need even more space? Upgrade your Dropbox and get 1 TB</div>
                <div>(1,000 GB) of space.</div>
                <div>Happy Dropboxing.</div>
                <div>- The Dropbox Team</div>
                <div>Dropbox, Inc., PO Box 77767, San Francisco, CA 94107 © 2017 Dropbox</div>
              </div> 
              <div class="box-cell box2"> 
                <br>
                Below are a list of elements in the E-Mail. Please check mark the elements that look suspicious: <br><br>
                <hr>
                <br>
                <form method='POST'>
                  <div class="form-group">
                      <div class="form-check form-group">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            Sender Name
                          </label>
                      </div>
                    <br>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                      <label class="form-check-label" for="defaultCheck2">
                          Email address
                      </label>
                    </div>
                    <br>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                      <label class="form-check-label" for="defaultCheck3">
                          Email subject
                      </label>
                    </div>
                    <br>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                      <label class="form-check-label" for="defaultCheck4">
                          Wording, syntax, punctuation
                      </label>
                    </div>              
                    <br>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                      <label class="form-check-label" for="defaultCheck5">
                          Links, URL's, or redirects
                      </label>
                    </div>
                  </div>
                </form>
              </div>
    <hr>
    <button class="btn btn-secondary btn-block">Submit</button>
  </body>
</html>