<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://app.nullphish.com/static/css/master.css">
    <link rel="icon" href="https://app.nullphish.com/static/res/favicon-320.png">
    <title>NullPhish: Phishing Statistics</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
      #particles-js{
        height: 100%;
        overflow: visible;
        width: 100%;
        padding: 0px;
        margin: 0px;
        position: absolute;
      }
	    .contentcontainer{
        flex-direction: column;
      }
    </style>
  </head>
  <body id="particles-js">
    <div id="navigation">
      <a href="/main">Tools</a>
      <a href="/schedulephish">Phishing</a>
      <a href="/phishingstats" class="active">Stats</a>
      <a href="/profile">Profile</a>
      <a href="#" onclick="showlogoutconfirmation();">Log Out</a>
    </div>
    <div class="contentcontainer" style="min-height: 100%; max-height:auto">
      <div id="header">
        <h1>Phishing Statistics</h1>
      </div>
      <div>
        <form method="POST">
          <select style="font-size:1.1em; text-align: center;" name= 'report' class="form-control" id="report">
            <option style="text-align: center;">Select to download a report</option>
            <option style="text-align: center;" id="E-MAIL" name="E-MAIL">E-Mail Report</option>
            <option id="SMS" name="SMS">SMS Report</option>
          </select>
          <br>
          <button name="submit" type="submit">Download report</button>
        </form>
      </div>
      <!-- Email Section -->
      {% if emailquery %}
        <div>
          <h2>Users Phished via E-Mail</h2>
          <table class="stats dataframe">
            <tr>
              <th>Business</th>
              <th>Department</th>
              <th>Method</th>
              <th>User&nbsp;Phished</th>
              <th>Template</th>
              <th>Hyperlink</th>
              <th>Sender</th>
              <th>Scheduler</th>
              <th>Admin&nbsp;Notified</th>
              <th>Date&nbsp;Sent</th>
              <th>Date&nbsp;Read</th>
            </tr>
            {% for item in emailquery %}
            <tr>
              <td>{{item.business}}</td>
              <td>{{item.department}}</td>
              <td>{{item.type | replace('email','E-Mail')}}</td>
              <td>{{item.username}}</td>
              <td>{{item.template}}</td>
              <td>{{item.bitly | replace('0','Long')| replace('1', 'Short')}}</td>
              <td>{{item.mailname}}</td>
              <td>{{item.scheduler}}</td>
              <td>{{item.admin}}</td>
              <td>{{ item.sentdate }}</td>
              <td>{{ item.activetime }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      {% endif %}
      <!-- SMS Section -->
      {% if smsquery %}
        <div>
          <h2>Users Phished via SMS</h2>
          <table class="stats dataframe">
            <tr>
              <th>Business</th>
              <th>Department</th>
              <th>Method</th>
              <th>User&nbsp;Phished</th>
              <th>Phone&nbsp;Number</th>
              <th>Message</th>
              <th>Scheduler</th>
              <th>Admin&nbsp;Notified</th>
              <th>Date&nbsp;Sent</th>
              <th>Date&nbsp;Read</th>
            </tr>
            {% for item in smsquery %}
              <tr>
                <td>{{item.business}}</td>
                <td>{{item.department}}</td>
                <td>{{item.type |replace('sms','SMS')}}</td>
                <td>{{item.username}}</td>
                <td>{{item.phonedid}}</td>
                <td>{{item.message}}</td>
                <td>{{item.scheduler}}</td>
                <td>{{item.admin}}</td>
                <td>{{item.sentdate}}</td>
                <td>{{item.activetime}}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
        {% endif %}
        <br>
<!--        <form method="POST">
        <button style="font-size:1em; width: 100px; height: 50px" name="testing" value="1" type="submit">Feature Testing</button>
        </form>
        -->
        {% if business == "nullphish" %}
        <iframe src="https://app.nullphish.com/app1/" style="width:auto; height:auto"></iframe>
        {% endif %}
      <!-- Messages Section -->
      <!--
      <h2 style="color: white">{% with messages = get_flashed_messages(category_filter=["category2"]) %}
      {% if messages %}
        {% for message in messages %}
      {{ message }}
        {% endfor %}
      {% endif %}
      {% endwith %}</h1>
      -->
    </div>
    <div id="confirmoverlay">
      <span>Are you sure you want to log out?</span><br>
      <a href="/logout">Yes</a>
      <a href="#" onclick="hidelogoutconfirmation();">No</a>
    </div>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/particlesjs/particles.min.js"></script>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/particlesjs/app.js"></script>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/master.js"></script>
  </body>
</html>
