<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/master.css">
        <link rel="stylesheet" href="css/public.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>NullPhish: Education tools to Prevent Scams, Phishing, and Security Concerns</title>
    </head>
    <body>
      <div id="navbg"></div>
      <nav>
        <table>
          <tr>
            <td><a href="#slide2" class="passive">Education</a></li>
            <td><a href="#slide3" class="passive">Testing</a></li>
            <td><a href="#slide4" class="passive">Results</a></li>
            <td><a href="#slide1" class="active">NullPhish &#169;</a></td>
            <td><a href="#slide5" class="passive">Team</a></li>
            <td><a href="https://app.nullphish.com/register.html" class="passive">Sign Up</a></li>
            <td><a href="https://app.nullphish.com/login.html" class="passive">Log In</a></td>
          </tr>
        </table>
      </nav>
      <div id="slide1">
        <p class="title">Welcome to <u id="nptitle">NullPhish<sup style="font-size: medium;">&#169;</sup></u></p>
      </div>
      <div id="slide2">
        <p class="title">Quality Education</p>
        <br>
        We believe it is essential to educate personnel in order to gain exposure to current risks to your business.
        <br>
      </div>
      <div id="slide3">
        <p class="title">Verified Testing</p>
        <br>
        We take the latest threats and concepts used in the wild and incorporate them into our platform so that your users are aware and trained against the latest threats!
        <br>
      </div>
      <div id="slide4">
        <p class="title">Real Results</p>
        <br>
        At NullPhish, we believe in <u>data</u>.<br>
        Use our systems to engage with and test your users' ongoing awareness, by sending them practice 'phishing' emails that will alert you upon activity.
      </div>
      <div id="slide5">
        <p class="title">The Team</p>
        <br>
        NullPhish is founded by a team of IT leaders who have a background in administration, security, development, and implementation.<br>
        Our rich backgrounds have given us hands-on experience with a multitude of multi-faceted threats which have helped us develop the best practices to protect our users against these threats.
        <br>
      </div>
      <!--
      <div id="fineprint">

      </div>
      -->
    </body>
</html>
