<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/master.css">
        <link rel="stylesheet" href="css/public.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>NullPhish: Education tools to Prevent Scams, Phishing, and Security Concerns</title>
    </head>
    <body>
      <div id="navbg"></div>
      <nav>
        <table>
          <tr>
            <td><a href="#slide2" class="passive">Education</a></li>
            <td><a href="#slide3" class="passive">Testing</a></li>
            <td><a href="#slide4" class="passive">Results</a></li>
            <td><a href="#slide1" class="active">NullPhish &#169;</a></td>
            <td><a href="#slide5" class="passive">Team</a></li>
            <td><a href="https://app.nullphish.com/register.html" class="passive">Sign Up</a></li>
            <td><a href="https://app.nullphish.com/login.html" class="passive">Log In</a></td>
          </tr>
        </table>
      </nav>
      <div id="slide1">
        <p class="title">Welcome to <u id="nptitle">NullPhish<sup style="font-size: medium;">&#169;</sup></u></p>
      </div>
      <div id="slide2">
        <p class="title">Quality Education</p>
      </div>
      <div id="slide3">
        <p class="title">Verified Testing</p>
      </div>
      <div id="slide4">
        <p class="title">Real Results</p>
      </div>
      <div id="slide5">
        <p class="title">The Team</p>
      </div>
      <!--
      <div id="fineprint">

      </div>
      -->
    </body>
</html>