<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://nullphish.com/css/master.css">
    <link rel="stylesheet" href="https://nullphish.com/css/public.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NullPhish: Education tools to Prevent Scams, Phishing, and Security Concerns</title>
    <style>
      #particles-js{
        height: 500%;
        overflow: hidden;
        width: 100%;
        padding: 0px;
        margin: 0px;
        position: absolute;
      }
      .fader{
        opacity: 1;
      }
    </style>
  </head>
  <body>
    <div id="particles-js" style="background-image: linear-gradient(#0D1126, black);"></div>
    <div id="navbg"></div>
    <nav>
      <table>
        <tr>
          <td><a href="#education" class="passive">Education</a></li>
          <td><a href="#testing" class="passive">Testing</a></li>
          <td><a href="#results" class="passive">Results</a></li>
          <td><a href="#nullphish" class="active">NullPhish &#169;</a></td>
          <td><a href="#team" class="passive">Team</a></li>
          <td><a href="https://app.nullphish.com/register" class="passive">Sign Up</a></li>
          <td><a href="https://app.nullphish.com/login" class="passive">Log In</a></td>
        </tr>
      </table>
    </nav>
    <div id="nullphish" class="fader">
      <p class="title">Welcome to <u id="nptitle">NullPhish<sup style="font-size: medium;">&#169;</sup></u></p>
    </div>
    <div id="education" class="fader">
      <p class="title">Quality Education</p>
      <br>
      <span>We believe it is essential to educate personnel in order to gain exposure to current risks to your business.</span>
      <br>
    </div>
    <div id="testing" class="fader">
      <p class="title">Verified Testing</p>
      <br>
      <span>We take the latest threats and concepts used in the wild and incorporate them into our platform so that your users are aware and trained against the latest threats!</span>
      <br>
    </div>
    <div id="results" class="fader">
      <p class="title">Real Results</p>
      <br>
      <span>At <u class="nullmention">NullPhish</u>, we believe in <u>data</u>.<br>
      Use our systems to engage with and test your users' ongoing awareness, by sending them practice 'phishing' emails that will alert you upon activity.</span>
    </div>
    <div id="team" class="fader">
      <p class="title">The Team</p>
      <br>
      <span><u class="nullmention">NullPhish</u> is founded by a team of IT leaders who have a background in administration, security, development, and implementation.<br>
      Our rich backgrounds have given us hands-on experience with a multitude of multi-faceted threats which have helped us develop the best practices to protect our users against these threats.</span>
      <br>
    </div>
    <script type="text/javascript"  src="https://nullphish.com/js/particlesjs/particles.min.js"></script>
    <script type="text/javascript"  src="https://nullphish.com/js/particlesjs/app.js"></script>
    <script type="text/javascript"  src="../static/js/jquery.js"></script>
    <script type="text/javascript"  src="../static/js/fader.js"></script>
  </body>
</html>
