<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/master.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NullPhish: Education tools to Prevent Scams, Phishing, and Security Concerns</title>
    <style>
      #particles-js{
        overflow: hidden;
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px;
        position: absolute;
      }
    </style>
  </head>
  <body>
    <div id="particles-js"></div>
    <div id="navigation">
      <a href="https://app.nullphish.com/register">Sign Up</a>
      <a href="https://nullphish.com">NullPhish &#169;</a>
      <a href="https://app.nullphish.com/login">Log In</a>
    </div>
    <div class="contentcontainer">
      <div>
        <h1 style="color: white" class="card-title mt-3 text-center">Create Account</h1>
        <p style="color: white" class="text-center">*Beta* - Completely <b>Free</b> !</p>
        <p style="color: white" class="text-center">Let's get started!</p>
        <p style="color: white" class="text-center">Please fill out all information below, and choose a password with a minimum of 10 characters.</p>
        <span>
          <center>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
                </ul>
                {% endif %}
              {% endwith %}
          </center>
        </span>
      </div>
      <div>
        <form method="POST">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-key"></i> </span>
            </div>
            <input name="code" class="form-control" placeholder="Beta registration code:" type="text">
          </div> <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i></span>
            </div>
            <input name="firstname" class="form-control" placeholder="First name:" type="text">
          </div> <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="lastname" class="form-control" placeholder="Last name:" type="text">
          </div> <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
              <input name="email" class="form-control" placeholder="Email address:" type="email">
          </div> <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-building"></i> </span>
            </div>
            <input name="business" class="form-control" placeholder="Business:" type="text">
          </div> <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input name="password" class="form-control" placeholder="Create password:" type="password">
          </div> <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input name="repeat" class="form-control" placeholder="Repeat password:" type="password">
          </div> <!-- form-group// -->                                      
          <div class="form-group">
            <button type="submit"> Create Account  </button>
          </div> <!-- form-group// -->      
          <p> </p>  
          <p>Forgot Password? -<a href="/resetpass"><strong>Reset Pass</strong></a></p>                                                                
        </form>
      </div>
      <div>
        <p>Have an account?</p>
        <p><a href="/"><strong>Log In</strong></a></p>
        <br>
        <p>Forgot Your Password?</p>
        <p><a href="/resetpass"><strong>Reset Password</strong></a></p> 
      </div>
    </div>
    <script type="text/javascript"  src="https://nullphish.com/js/particlesjs/particles.min.js"></script>
    <script type="text/javascript"  src="https://nullphish.com/js/particlesjs/app.js"></script>
  </body>

