<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        <img src="res/logo.png" id=nav-logo>
        <nav>
            <a href="/" class=nav-link>Home</a> |
            <a href="/" class=nav-link>Learn</a href="/" class=nav-link> |
            <a href="/" class=nav-link>Test</a href="/" class=nav-link> |
            <a href="/" class=nav-link>Profile</a href="/" class=nav-link> |
            <a href="/" class=nav-link>Log Out</a href="/" class=nav-link>
        </nav>
    </body>
</html>