<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/master.css">
    <link rel="stylesheet" href="../static/css/tiles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NullPhish: Education tools to Prevent Scams, Phishing, and Security Concerns</title>
  </head>
  <body>
    <div id="particles-js" style="height: 100%;"></div>
    <!--
    <div class="apptile">
      <img>
      <p>Email Phishing<p>
    </div>
    <div class="apptile">
      <img>
      <p>Spear Phishing<p>
    </div>
    <div class="apptile">
      <img>
      <p>Domain Spoofing<p>
    </div>
    -->
    <script src="../static/js/particles.js"></script>
  </body>
</html>