<html>
    <head>
        <title>Super Cool Company Name</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        <div id=topbar>
            <div class=topbar-ent>Test</div>
            <div class=topbar-ent>Test</div>
            <div class=topbar-ent>Test</div>
            <div class=topbar-ent style="width: 10%;"><img src="res/logo-w.png" style="height: 60px;"></div>
            <div class=topbar-ent>Test</div>
            <div class=topbar-ent>Test</div>
            <div class=topbar-ent>Test</div>
        </div> 
    </body>
</html>