<html>
    <head>
        <title>Super Cool Company Name</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        
        <nav>
            <a href="/" class=nav-link>Home</a> 
            <a href="/" class=nav-link>Learn</a href="/" class=nav-link> 
            <a href="/" class=nav-link>Test</a href="/" class=nav-link> 
            <img src="res/logo-w.png" id=nav-logo>
            <a href="/" class=nav-link>Profile</a href="/" class=nav-link> 
            <a href="/" class=nav-link>Help</a href="/" class=nav-link> 
            <a href="/" class=nav-link>Log In</a href="/" class=nav-link>
        </nav>
        <div class=slide style="background-image: url('res/comp.jpg'); background-position: center; top: 0px; left: 0px; background-size: contain; background-repeat: no-repeat">
            
        </div>
    </body>
</html>