<!--   NOTE: This document is here as a template/placeholder for future pages      -->
<!-- The goal is to have something to copy/paste to have new pages be easy to make -->
<!--      Please remove all generic/instructional comments before publishing!      -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://app.nullphish.com/static/css/master.css">
    <link rel="icon" href="https://app.nullphish.com/static/res/favicon-320.png">
    <title>NullPhish: Login to Your Account</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
      #particles-js{
        height: 100%;
        overflow: hidden;
        width: 100%;
        padding: 0px;
        margin: 0px;
        position: absolute;
      }
    </style>
  </head>
  <body id="particles-js">
    <!-- Here's where the navigation bar is declared -->
    <div id="navigation">
      <!-- Edit the entries below -->
      <a href="/main">Modules</a>
      <a href="/profile">Profile</a>
      <a href="#" onclick="showlogoutconfirmation();">Log Out</a>
    </div>
    <div class="contentcontainer">
      <div><h1>Content Title</h1></div>
      <!-- Put Content Here! -->
    </div>
    <!-- Logout confirmation overlay -->
    <div id="confirmoverlay">
      <span>Are you sure you want to log out?</span><br>
      <a href="/logout">Yes</a>
      <a href="#" onclick="hidelogoutconfirmation();">No</a>
    </div>
    <!-- Put more Javascript stuff here if you need -->
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/particlesjs/particles.min.js"></script>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/particlesjs/app.js"></script>
    <script type="text/javascript"  src="https://app.nullphish.com/static/js/master.js"></script>
  </body>
</html>